<template>
  <div class="footer">
      &copy; Copyright 2020
  </div>
</template>

<script>
export default {

}
</script>

<style>
.footer {
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 3px solid #fecb02;
  padding: 10px;
  margin-top: 10px;
}
</style>