<template>
  <div>
    <nav class="navbar navbar-expand-lg ms_navbar">
      <div class="container">
        <router-link
          :to="{ name: 'Dashboard' }"
          class="navbar-brand mr-auto mr-lg-5"
        >
          <img src="@/assets/images/logo.png" alt="Logo" />
        </router-link>
        <button
          class="navbar-toggler p-0 border-0"
          type="button"
          data-toggle="offcanvas"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        >
          <ul class="navbar-nav mr-auto">
            <li
              class="nav-item"
              :class="{ active: $route.name === 'Dashboard' }"
            >
              <router-link :to="{ name: 'Dashboard' }" class="nav-link">
                <i class="fas fa-home"></i>Trang chủ
              </router-link>
            </li>
            <li class="nav-item" :class="{ active: $route.name === 'Search' }">
              <!-- <a class="nav-link" href="#"><i class="fas fa-book-open"></i>Danh mục tài liệu</a> -->
              <router-link :to="{ name: 'Search' }" class="nav-link">
                <i class="fas fa-book-open"></i>Tra cứu
              </router-link>
            </li>
            <li
              class="nav-item"
              :class="{ active: $route.name === 'GroupCreate' }"
            >
              <router-link :to="{ name: 'GroupCreate' }" class="nav-link">
                <i class="fas fa-user-cog"></i>Tạo nhóm
              </router-link>
            </li>
            <li
              class="nav-item"
              :class="{ active: $route.name === 'uploadDocument' }"
            >
              <router-link :to="{ name: 'uploadDocument' }" class="nav-link">
                <i class="far fa-plus-square"></i>Thêm tài liệu
              </router-link>
            </li>
            <li
              class="nav-item"
              :class="{ active: $route.name === 'Elearning' }"
            >
              <!-- <a class="nav-link" href="#"><i class="fas fa-blog"></i>Học Online</a> -->
              <router-link :to="{ name: 'Elearning' }" class="nav-link">
                <i class="fas fa-blog"></i>Học Online
              </router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-at"></i>Liên hệ
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="far fa-question-circle"></i>Trợ giúp
              </a>
            </li>
          </ul>
          <!-- notifications -->
          <b-dropdown
            class="tt_notify"
            variant="link"
            right 
            toggle-class="text-decoration-none"
            no-caret
          >
            <template v-slot:button-content>
              <div class="notifications">
                <i class="fa fa-bell"></i>
                <span class="num">4</span>
              </div>
            </template>
            <b-dropdown-item>
                <div class="notify_list">
                    <div class="notify_people">
                        <div class="notify_img"> 
                            <img src="https://ptetutorials.com/images/user-profile.png"
                            class="w-100"
                             alt="sunil"> 
                            </div>
                        <div class="notify_ib">
                        <h5>Sunil Rajput <span class="notify_date">Dec 25</span></h5>
                        <p>Test, which is a new approach to have all solutions </p>
                        </div>
                    </div>
                </div>
            </b-dropdown-item>
            <b-dropdown-item>
              <div class="notify_list">
                    <div class="notify_people">
                        <div class="notify_img"> 
                            <img src="https://ptetutorials.com/images/user-profile.png"
                            class="w-100"
                             alt="sunil"> 
                            </div>
                        <div class="notify_ib">
                        <h5>Sunil Rajput <span class="notify_date">Dec 25</span></h5>
                        <p>Test, which is a new approach to have all solutions </p>
                        </div>
                    </div>
                </div>
            </b-dropdown-item>
            <b-dropdown-item>
              <div class="notify_list">
                    <div class="notify_people">
                        <div class="notify_img"> 
                            <img src="https://ptetutorials.com/images/user-profile.png"
                            class="w-100"
                             alt="sunil"> 
                            </div>
                        <div class="notify_ib">
                        <h5>Sunil Rajput <span class="notify_date">Dec 25</span></h5>
                        <p>Test, which is a new approach to have all solutions 
                            </p>
                        </div>
                    </div>
                </div>
            </b-dropdown-item>
          </b-dropdown>
          <!-- pofile user -->
          <b-dropdown
            variant="link"
            id="dropdown-offset"
            offset="25"
            toggle-class="text-decoration-none"
            no-caret
            right
          >
            <template v-slot:button-content>
              <div class="d-inline-flex" style="width:30px">
                <b-img
                  class="w-100"
                  src="https://webstockreview.net/images/team-icon-png-5.png"
                  rounded="circle"
                  :alt="userLogin"
                  :title="userLogin"
                ></b-img>
                <i class="fas fa-caret-down mt-2 ml-2"></i>
              </div>
            </template>
            <b-dropdown-item href="/mypage">Thông tin của tôi</b-dropdown-item>
            <b-dropdown-item href="/logout">Đăng xuất</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "Header",
  computed: {
    userLogin() {
      const user = JSON.parse(localStorage.getItem("user"));
      return user.username;
    },
  },
};
</script>
<style>
.ms_navbar {
  padding: 0 !important;
  /* border-bottom: 1px solid rgba(0,0,0,0.12); */
  border-top: 3px solid #fecb02;
  background: #fff;
}
.ms_navbar a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.ms_navbar a i {
  display: block;
  color: #fecb02;
}
.ms_navbar .navbar-nav li a {
  color: #22529c;
  padding: 0.6rem 1rem;
}
.ms_navbar a.navbar-brand img {
  height: 60px;
  widows: auto;
}
.ms_navbar .navbar-nav li:hover,
.ms_navbar .navbar-nav li.active {
  background: #fecb02;
}
.ms_navbar .navbar-nav li:hover a i,
.ms_navbar .navbar-nav li.active a i {
  color: #fff;
}
.ms_navbar .navbar-nav li:hover a,
.ms_navbar .navbar-nav li.active a {
  color: #fff;
}
#navbarsExampleDefault .notifications {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
#navbarsExampleDefault .notifications svg {
  color: #ccc;
  line-height: 60px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#navbarsExampleDefault .notifications .num {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff2c74;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 0.8rem;
}
.tt_notify .notify_ib h5{
  font-size:15px; 
  color:#464646; 
  margin:0 0 8px 0;
}
.tt_notify .notify_ib h5 span{ 
  font-size:13px; 
  float:right;
}
.tt_notify .notify_ib p{ 
  font-size:14px; 
  color:#989898;
  margin:auto
}
.tt_notify .notify_img {
  float: left;
  width: 11%;
}
.tt_notify .notify_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.tt_notify .notify_people{ overflow:hidden; clear:both;}
.tt_notify .notify_list {
    border-bottom: 0px solid #c4c4c4;
    margin: 0;
    padding: 0px 0px 6px;
}

.tt_notify .active_notify{ 
  background:#ebebeb;
}
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media (min-width: 992px) {
  .ms_navbar .navbar-nav li a {
    border-left: 1px solid #f8f8f8;
  }
  .ms_navbar .navbar-nav li a:first-child {
    border-left: none;
  }
}
.svg-inline--fa {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
