<template>
<div>
  <Header />
  <Search />
  <div>
      <router-view />
  </div>
  <Footer />
</div>
  
</template>

<script>
import Search from '@/components/frontend/partials/Search';
import Header from '@/components/frontend/Header.vue';
import Footer from '@/components/frontend/Footer.vue';
export default {
    name: "Layout",
    components: {
      Header,
      Search,
      Footer
    },
}
</script>