<template>
    <div>
        <h1 class="title"><i class="fas fa-share-alt"></i> Quản lý mượn trả</h1>
        <hr>
        <router-link :to="{ name: 'UserCreate'}"  class="btn btn-success">
            <i class="fas fa-user-plus"></i> Thêm User
        </router-link>
        <b-row class="tt_filter">
            <b-col sm="6" class="my-1">
                <b-form-group
                label="Filter"
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                label-for="filterInput"
                class="mb-0"
                >
                <b-input-group size="sm">
                    <b-form-input
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
                </b-form-group>
            </b-col>
            <b-col sm="6" class="my-1">
                <b-form-group
                label="Per page"
                label-cols-sm="6"
                label-cols-md="4"
                label-cols-lg="3"
                label-align-sm="right"
                label-size="sm"
                label-for="perPageSelect"
                class="mb-0"
                >
                <b-form-select
                    v-model="perPage"
                    id="perPageSelect"
                    size="sm"
                    :options="pageOptions"
                ></b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-table
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
        >
            <template v-slot:cell(name)="row">
                {{ row.value }}
            </template>

            <template v-slot:cell(actions)="row">
                <router-link :to="{ name: 'UserDetail', params: { id: row.item.id }}" class="btn btn-info btn-sm"> Chi tiết</router-link>
                <!-- <b-button size="sm" @click="row.toggleDetails">
                {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                </b-button> -->
            </template>

            <template v-slot:row-details="row">
                <b-card>
                <ul>
                    <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                </ul>
                </b-card>
            </template>
        </b-table>
            <b-col sm="6" class="my-1">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
                ></b-pagination>
            </b-col>
        
        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title">
        <pre>{{ infoModal.content }}</pre>
        </b-modal>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    name: "BorrowList",
    data() {
        return {
            items: [],
            fields: [
                {
                    key: 'name',
                    sortable: true
                },
                {
                    key: 'email',
                    sortable: false
                },
                {
                    key: 'gender',
                    label: 'Person age',
                    sortable: true,
                },
                {
                    key: 'actions',
                    label: '',
                    sortable: false,
                }
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
            infoModal: {
            id: 'info-modal',
            title: '',
            content: ''
            }
        }
    },
    computed: {
        ...mapState({
            users: state => state.users.user,
        })
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.users.length
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    async created () {
        await this.$store.dispatch('users/getAllUser')
        this.items = this.users
        this.totalRows = this.users.length
    }
}

</script>
<style>
</style>