<template>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu tt_sidebar" style="margin-top:80px">
            <b-navbar toggleable>
              <router-link :to="{ name: 'DocumentList'}"  class="nav-link nav-link-parent">
                <i class="far fa-file-alt"></i>Tài liệu/Book
              </router-link>
              <b-navbar-toggle target="submenu1">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu1" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'DocumentCreate'}" class="nav-link">Thêm tài liệu</b-nav-item>
                  <b-nav-item :to="{ name: 'CategoryList'}" class="nav-link">Danh mục</b-nav-item>
                  <b-nav-item :to="{ name: 'TypeList'}" class="nav-link">Loại tài liệu</b-nav-item>
                  <b-nav-item :to="{ name: 'AuthorList'}" class="nav-link">Tác giả</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu2 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'UserList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-user"></i>Quản lý tài khoản
              </router-link>
              <b-navbar-toggle target="submenu2">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu2" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Thêm tài khoản</b-nav-item>
                  <b-nav-item :to="{ name: 'UserType'}" class="nav-link">Quản lý loại tài khoản</b-nav-item>
                  <b-nav-item :to="{ name: 'UserMajor'}" class="nav-link">Quản lý ngành học</b-nav-item>
                  <b-nav-item :to="{ name: 'UserFaculty'}" class="nav-link">Quản lý khoa</b-nav-item>
                  <b-nav-item :to="{ name: 'UserRecomment'}" class="nav-link">Quản lý đề xuất</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu 3 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'BorrowList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-share-alt"></i>Quản lý mượn trả
              </router-link>
              <b-navbar-toggle target="submenu3">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu3" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Add User</b-nav-item>
                  <b-nav-item :to="{ name: 'UserDetail'}" class="nav-link">User Detail</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu 4 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'PaymentList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-funnel-dollar"></i>Quản lý doanh số
              </router-link>
              <b-navbar-toggle target="submenu4">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu4" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Add User</b-nav-item>
                  <b-nav-item :to="{ name: 'UserDetail'}" class="nav-link">User Detail</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu 5 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'GroupList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-user-friends"></i>Quản lý nhóm
              </router-link>
              <b-navbar-toggle target="submenu5">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu5" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Add User</b-nav-item>
                  <b-nav-item :to="{ name: 'UserDetail'}" class="nav-link">User Detail</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu 6 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'ReportList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-chart-line"></i>Quản lý báo cáo
              </router-link>
              <b-navbar-toggle target="submenu6">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu6" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Báo cáo  mượn trả</b-nav-item>
                  <b-nav-item :to="{ name: 'UserDetail'}" class="nav-link">Báo cáo thanh toán</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
            <!-- Menu 7 -->
            <b-navbar toggleable>
              <router-link :to="{ name: 'SettingList'}"  class="nav-link nav-link-parent">
                <i class="fas fa-cogs"></i>Cấu hình hệ thống
              </router-link>
              <b-navbar-toggle target="submenu7">
                <template v-slot:default="{ expanded }">
                  <b-icon v-if="expanded" icon="chevron-double-up"></b-icon>
                  <b-icon v-else icon="chevron-double-down"></b-icon>
                </template>
              </b-navbar-toggle>
              <b-collapse id="submenu7" is-nav>
                <b-navbar-nav class="ml-auto">
                  <b-nav-item :to="{ name: 'UserCreate'}" class="nav-link">Cấu hình báo cáo</b-nav-item>
                  <b-nav-item :to="{ name: 'UserDetail'}" class="nav-link">Cấu hình abc</b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Tài khoản đăng nhập: {{ userLogin }}</div>
            
        </div>
    </nav>
</div>
</template>
<script>
export default {
  name: "DangNhap",
  computed: {
    userLogin() { 
      const user = JSON.parse(localStorage.getItem('user'));
      return user.username
    }
  }
};
</script>
<style>
  .sb-sidenav-dark {
      background-color: #ec3b1e;
      color: rgba(255, 255, 255, 1);
  }
  .tt_sidebar .navbar-toggler {
    padding: 0;
    font-size: 1rem;
  }
  .tt_sidebar nav.navbar {
    padding-right: 0;
    padding-left: 10px;
  }
</style>