<template>
  <div role="main">
    <div class="container">
      <div class="row">
        <div class="col-8 mt-3">
          <h3 class="text-left ms_title_content">Tài liệu phù hợp với</h3>
          <ListCarousel  v-bind:lists="lists_carousel" v-bind:status="true"/>
          <h3 class="text-left mt-3 ms_title_content">Tài liệu ưa thích</h3>
          <ListCarousel  v-bind:lists="lists_carousel" v-bind:status="true"/>

          <div class="row pl-2 mb-4">
            <div class="col-6 pl-0">
              <h3 class="text-left mt-3 ms_title_content">Nhóm tham gia</h3>
              <ListUsers v-bind:lists="lists_user"/>
            </div>
            <div class="col-6 pr-0">
              <h3 class="text-left mt-3 ms_title_content">Tác giả đang theo dõi</h3>
                <ListUsers v-bind:lists="lists_view_user"/>
            </div>
          </div>
        </div>
        <div class="col-4">
          <Sidebar/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Sidebar from '@/components/frontend/partials/Sidebar';
  import ListCarousel from '@/components/frontend/partials/ListCarousel';
  import ListUsers from '@/components/frontend/partials/ListUser';

  import lists_user from "@/assets/data/user.json";
  import lists_view_user from "@/assets/data/vew_user.json";
  import lists_carousel from "@/assets/data/book.json";
  export default {
    name: 'Dashboard',
    components:{
      Sidebar,
      ListCarousel,
      ListUsers
    },
    data (){
      return {
        lists_user:lists_user,
        lists_view_user:lists_view_user,
        lists_carousel:lists_carousel
      }
    }
  }
</script>

<style>
.container {
    padding: 0 15px;
    background-color: transparent
}
.ms_title_content{
  color: red;
}
</style>