<template>
    <div role="main">
        <div class="container mypage_user">
            <div class="row mt-5">
                <div class="col-md-4 grid-margin stretch-card">
                <div class="card rounded">
                    <div class="profile-card">
                    <div class="profile-header">
                        <div class="cover-image">
                        <img
                            src="http://localhost:8080/img/bg.04a8e341.jpg"
                            class="img img-fluid"
                        />
                        </div>
                        <div class="user-image">
                        <img
                            src="https://webstockreview.net/images/team-icon-png-5.png"
                            class="img" :title="userLogin.firstname+' '+userLogin.lastname"
                        />
                        </div>
                    </div>

                    <div class="profile-content">
                        <div class="profile-name">{{userLogin.username}}</div>
                        <div class="profile-designation">{{userLogin.firstname}} {{userLogin.lastname}}</div>
                        <ul class="about">
                            <li class="about-items">
                                <i class="fas fa-chalkboard-teacher"></i>
                                <span class="about-item-name">Profession:</span>
                                <span class="about-item-detail">Student</span>
                            </li>
                            <li class="about-items">
                                <i class="fas fa-users"></i>
                                <span class="about-item-name">Group:</span>
                                <span class="about-item-detail">AB+</span>
                            </li>
                            <li class="about-items">
                                <i class="fas fa-calendar-day"></i>
                                <span class="about-item-name">Ngày đăng ký: </span>
                                <span class="about-item-detail"> Aug 3 , 1998</span>
                            </li>
                            <li class="about-items">
                                <i class="fas fa-wifi"></i>
                                <span class="about-item-name">Trạng thái: </span>
                                <span class="about-item-detail"> Hoạt động</span>
                            </li>
                        </ul>
                    
                    </div>
                    </div>
                </div>
                </div>

                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card border-0">
                        <div class="card-body pt-0">
                        <p class="card-description">Tài khoản của tôi <a v-b-modal.modal-edit-user-mypage class="about-item-edit btn btn-outline-success btn-sm border-0" > <i class="fas fa-edit"></i> Edit</a></p>
                            <ul class="about">
                                <li class="about-items">
                                    <i class="far fa-user"></i>
                                    <span class="about-item-name">username:</span>
                                    <span class="about-item-detail">{{userLogin.username}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fas fa-phone"></i>
                                    <span class="about-item-name">Phone:</span>
                                    <span class="about-item-detail">{{userLogin.tel ? userLogin.tel:''}}</span>
                                </li>

                                <li class="about-items">
                                    <i class="fas fa-envelope-square"></i>
                                    <span class="about-item-name">Email:</span>
                                    <span class="about-item-detail">
                                        <a href="">{{userLogin.email}}</a>
                                    </span>
                                </li>

                                <li class="about-items">
                                    <i class="fas fa-birthday-cake"></i>
                                    <span class="about-item-name">Birthday:</span>
                                    <span class="about-item-detail">{{userLogin.birthday}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fas fa-quidditch"></i>
                                    <span class="about-item-name">firstname:</span>
                                    <span class="about-item-detail">{{userLogin.firstname}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fab fa-uncharted"></i>
                                    <span class="about-item-name">lastname:</span>
                                    <span class="about-item-detail">{{userLogin.lastname}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fas fa-school"></i>
                                    <span class="about-item-name">School:</span>
                                    <span class="about-item-detail">{{userLogin.school}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fas fa-school"></i>
                                    <span class="about-item-name">Khoa:</span>
                                    <span class="about-item-detail">{{userLogin.faculty_id ? findMasterName(userLogin.faculty_id,facultys):''}}</span>
                                </li>
                                <li class="about-items">
                                    <i class="fas fa-school"></i>
                                    <span class="about-item-name">Ngành:</span>
                                    <span class="about-item-detail">{{userLogin.majors_id ? findMasterName(userLogin.majors_id,majors):''}}</span>
                                </li>
                                
                            </ul>
                            <p class="card-description">Lịch sử giao dịch</p>
                            <div class="border mb-3 rounded">
                                <b-table
                                    id="my-table"
                                    :items="items"
                                    :per-page="perPage"
                                    :current-page="currentPage"
                                    small
                                    :fields="fields"
                                    class="mb-0"
                                    ></b-table>
                            </div>
                            <div class="text-right ml-auto w-25 mr-0 d-flex" style="justify-content: flex-end;">
                                <b-pagination
                                    v-model="currentPage"
                                    :total-rows="rows"
                                    :per-page="perPage"
                                    aria-controls="my-table"
                                    size="sm"
                                ></b-pagination>
                            </div>
                            <p class="card-description">Sách đang đọc</p>
                            <div class="about mb-4">
                                <ListCarousel
                                v-bind:lists="lists_carousel"
                                v-bind:status="false"
                                />
                            </div>
                            <p class="card-description">Lịch sử download</p>
                            <ul class="about">
                                <li class="about-items">
                                    <div class="row">
                                        <div class="col-3 p-0 align-self-center">
                                        <img
                                            class="border rounded"
                                            src="http://vnbook.com.vn/files/bia_sach/NhungdauanlichsuveHCM_thuvien.jpg"
                                            style="width: 128px;height:150px"
                                        />
                                        </div>

                                        <div class="col-5 p-0 text-left">
                                            <p class="mb-1"><strong>Những dấu ấn lịch sử về Hồ Chí Minh</strong></p>
                                            <p class="mb-1">Playlist : 369Mb | Videos : 50</p>
                                            <p class="mb-1">Số trang : 500</p>
                                            <p class="mb-1">Loại : ebook</p>
                                            <p class="mb-1">Phát hành: </p>
                                            <p class="mb-1">Tác giả:</p>
                                        </div>
                                        <div
                                        class="col-4 text-center justify-content-center align-self-center"
                                        >
                                        <div class="">
                                            <b-progress :value="45" :max="100" height="10px" show-progress animated></b-progress>
                                            <span class="">Aug 3 , 1998</span>
                                        </div>
                                        </div>
                                        
                                    </div>
                                </li>
                                <li class="about-items">
                                    <div class="row">
                                        <div class="col-3 p-0 align-self-center">
                                            <img
                                                class="border rounded"
                                                src="http://vnbook.com.vn/files/bia_sach/HCMva5baovatquocgia_thuvien.jpg"
                                                style="width: 128px;height:150px"
                                            />
                                        </div>

                                        <div class="col-5 p-0 text-left">
                                            <p class="mb-1"><strong>Hồ Chí Minh và 5 bảo vật quốc gia</strong></p>
                                            <p class="mb-1">Playlist : 369Mb | Videos : 50</p>
                                            <p class="mb-1">Số trang : 500</p>
                                            <p class="mb-1">Loại : ebook</p>
                                            <p class="mb-1">Phát hành: 2020</p>
                                            <p class="mb-1">Tác giả:</p>
                                        </div>
                                        <div
                                        class="col-4 text-center justify-content-center align-self-center"
                                        >
                                        <div class="">
                                            <b-progress :value="50" :max="100" height="10px" show-progress animated ></b-progress>
                                            <span class="">Aug 3 , 1998</span>
                                        </div>
                                        </div>
                                        
                                    </div>
                                </li>
                            </ul>
                            <div class="text-right ml-auto w-25">
                                <b-pagination
                                    v-model="currentPage"
                                    :total-rows="12"
                                    :per-page="perPage"
                                    aria-controls="my-table"
                                    size="sm"
                                ></b-pagination>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <b-modal
                id="modal-edit-user-mypage" 
                scrollable  
                centered  
                title="Edit profile"
                @show="resetModal"
                @hidden="resetModal"
                @ok="handleOk"
            >
                <form ref="form" @submit.stop.prevent="handleSubmit">
                    <b-form-group
                        :state="formState.firstname"
                        label="Firstname :"
                        label-for="input-Firstname"
                        invalid-feedback="Firstname is required"
                    >
                        <b-form-input
                            id="input-Firstname"
                            v-model="form.firstname"
                            :state="formState.firstname"
                            placeholder="please in enter"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        :state="formState.lastname"
                        label="Lastname :"
                        label-for="input-Lastname"
                        invalid-feedback="Lastname is required"
                    >
                        <b-form-input
                            id="input-Lastname"
                            v-model="form.lastname"
                            :state="formState.lastname"
                            placeholder="please in enter"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        :state="formState.school"
                        label="School :"
                        label-for="input-school"
                        invalid-feedback="School is required"
                    >
                        <b-form-input
                            id="input-school"
                            v-model="form.school"
                            :state="formState.school"
                            placeholder="please in enter"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        :state="formState.birthday"
                        label="Birthday :"
                        label-for="date-input-Birthday"
                        invalid-feedback="Birthday is required"
                    >
                    <b-form-datepicker 
                        id="date-input-Birthday" 
                        v-model="form.birthday" 
                        class="mb-2"
                        placeholder="Choose a date"
                        :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                    ></b-form-datepicker>
                    </b-form-group>

                    <b-form-group
                        :state="formState.tel"
                        label="Phone :"
                        label-for="input-phone"
                        invalid-feedback="Phone is required"
                    >
                        <b-form-input
                            id="input-phone"
                            v-model="form.tel"
                            :state="formState.tel"
                            placeholder="please in enter"
                            type="number"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        :state="formState.faculty_id"
                        label="Faculty :"
                        label-for="Faculty"
                        invalid-feedback="Faculty is required"
                    >
                        <b-form-select
                            id="Faculty"
                            v-model="form.faculty_id"
                            :options="Facultys_select"
                            required
                        ></b-form-select>
                    </b-form-group>

                    <b-form-group
                        :state="formState.majors_id"
                        label="Major :"
                        label-for="Major"
                        invalid-feedback="Major is required"
                    >
                        <b-form-select
                            id="Major"
                            v-model="form.majors_id"
                            :options="Majors_select"
                            required
                        ></b-form-select>
                    </b-form-group>

                </form>
            </b-modal>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import ListCarousel from "@/components/frontend/partials/ListCarousel";
import lists_carousel from "@/assets/data/book.json";
export default {
  name: "MyPage",
  components: {
    ListCarousel,
  },
  data() {
    return {
        fields: [ 
            { key: 'age', label: 'id' },
            { key: 'first_name', label: 'Tên' },
            { key: 'price', label: 'Giá' },
            { key: 'status', label: 'Hành động' },
        ],
        items: [
            { age: 40, first_name: "Dickerson",price: "$300",status: "Đang hoạt động",},
            { age: 21, first_name: "Những dấu ấn lịch sử về Hồ Chí Minh", price: "$300",status: "Đang hoạt động", },
            { age: 89, first_name: "Những dấu ấn lịch sử về Hồ Chí Minh", price: "$500" ,status: "Đang hoạt động",},
            { age: 85, first_name: "Những dấu ấn lịch sử về Hồ Chí Minh", price: "$300" ,status: "Đang hoạt động",},
            { age: 86, first_name: "Những dấu ấn lịch sử về Hồ Chí Minh", price: "$200" ,status: "Đang hoạt động",},
            { age: 87, first_name: "Những dấu ấn lịch sử về Hồ Chí Minh", price: "$700" ,status: "Đang hoạt động",},
        ],
        lists_carousel: lists_carousel,
        perPage: 3,
        currentPage: 1,
        form: {
            school: "",
            faculty_id: null,
            majors_id: null,
            tel: "",
            birthday:"",
            firstname:"",
            lastname: '',
            avatar:""
        },
        Facultys_select: [
            { value: null, text: 'Please select an facultys' },
        ],
        Majors_select: [
            { value: null, text: 'Please select an majors' },
        ],
        formState: {
            school: null,
            faculty_id: null,
            majors_id: null,
            tel: null,
            birthday: null,
            firstname: null,
            lastname: null,
            avatar: null
        },
        historyDownload:[]
    };
  },
    computed: {
        rows() {
            return this.items.length
        },
        userLogin() {
            return this.detailUser;
        },
        ...mapState({
            facultys: state => state.faculty.facultys,
            majors: state => state.major.majors,
            detailUser:state => state.users.detailUser
        }),
       
      
    },
    methods: {
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity()
           
            this.formState.school = !this.form.school ? valid :'',
            this.formState.faculty_id = !this.form.faculty_id ? valid :'' ,
            this.formState.majors_id = !this.form.majors_id ? valid :'' ,
            this.formState.tel = !this.form.tel ? valid :'' ,
            this.formState.birthday = !this.form.birthday ? valid :'',
            this.formState.firstname = !this.form.firstname ? valid :'',
            this.formState.lastname = !this.form.lastname ? valid :'',
            this.formState.avatar = !this.form.avatar ? valid :'' 
            
            return valid
        },
        resetModal() {
            //
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault()
            this.handleSubmit()
        },
        handleSubmit() {
            if (!this.checkFormValidity()) {
            return
            }
           
            this.$store.dispatch('users/postEditUser',this.form)
            this.$nextTick(() => {
                this.$bvModal.hide('modal-edit-user-mypage')
            })
           
        },
        option_select(dataSelect){
            var data =[{value: null, text: 'Please select' },];
            dataSelect.forEach((val)=>{
                data.push({value: val.id, text: val.name })
            });
            return data;
        },
        findMasterName(id,data){
           var nameMaster = data.find(item => item.id == id);
            return nameMaster.name;
        }
    },
    async created () {
        await this.$store.dispatch("faculty/getAllFaculty", {perPage: 100, currentPage: 1});
        await this.$store.dispatch("major/getAllMajor", {perPage: 100, currentPage: 1});
        await this.$store.dispatch("users/getDetailUser");
        this.Facultys_select = this.option_select(this.facultys)
        this.Majors_select = this.option_select(this.majors)
        
        this.form.school = this.userLogin.school
        this.form.faculty_id = this.userLogin.faculty_id ? this.userLogin.faculty_id : null
        this.form.majors_id = this.userLogin.majors_id ? this.userLogin.majors_id : null 
        this.form.tel =  this.userLogin.tel
        this.form.birthday = this.userLogin.birthday
        this.form.firstname = this.userLogin.firstname
        this.form.lastname = this.userLogin.lastname
        this.form.avatar = this.userLogin.avatar
    },
    watch: {
        
    },
    updated() {
        
    }
};
</script>

<style>
    .modal-open {
        overflow : hidden;
        padding-right: 0px !important;
    }
    .container.mypage_user {
        padding: 0 15px;
        background-color: transparent;
    }

    .mypage_user .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e7eaed;
        border-radius: 0;
    }
    .mypage_user .card .card-description {
        margin-bottom: 0.875rem;
        font-weight: 600;
        color: #76838f;
        text-align: left;
    }

    .mypage_user .profile-header {
        height: 150px;
        width: 100%;
        position: relative;
        }

    .mypage_user .cover-image {
    height: 150px;
    width: 100%;
    overflow: hidden;
    }

    .mypage_user .user-image {
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        bottom: -39%;
        left: 47%;
        /* top: 50%; */
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .mypage_user .user-image img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        top: -40px;
        border: 1px solid #777;
    }

    .mypage_user .profile-card .profile-content {
        padding: 50px 20px 30px 20px;
    }

    .mypage_user .profile-card .profile-name {
        font-size: 1.2rem;
        color: #3249b9;
        font-weight: 600;
        text-align: center;
    }

    .mypage_user .profile-card .profile-designation {
        font-size: 13px;
        color: #777;
        text-align: center;
    }

    .mypage_user .profile-card .profile-description {
        padding: 10px;
        font-size: 13px;
        color: #777;
        margin: 5px 0px;
        background-color: #f1f2f3;
        border-radius: 5px;
    }

    .mypage_user .profile-card ul.profile-info-list {
        padding: 0;
        margin: 10px 0;
        list-style: none;
        font-size: 1rem;
        font-weight: 500;
        color: #777;
    }

    .mypage_user .profile-card ul.profile-info-list a {
        text-decoration: none;
        color: inherit;
    }

    .mypage_user .profile-card a.profile-info-list-item {
        margin: 10px 0;
        padding: 15px;
        background-color: #f1f2f3;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .mypage_user .profile-card a.profile-info-list-item:hover {
        background-color: #9e9e9e;
        color: white;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .mypage_user .profile-card a.profile-info-list-item .svg-inline--fa {
        padding: 10px;
    }

    .mypage_user ul.about {
        list-style: none;
        color: black;
        padding: 0;
    }
    .mypage_user  li.about-items {
        margin: 10px;
        font-size: 0.9rem;
    }

    .mypage_user  li.about-items .svg-inline--fa,
    .mypage_user  li.about-items p,
    .mypage_user  li.about-items span,
    .mypage_user #my-table {
        color: #607d8b;
    }

    .mypage_user  span.about-item-name {
        width: 100px;
        display: inline-flex;
        margin-left: 10px;
        color: #7e8082;
    }

    .mypage_user  span.about-item-detail {
        display: inline-flex;
        width: calc(100% - 160px);
        color: #7e8082;
    }
    .mypage_user  span.about-item-detail > button {
        margin-right: 10px;
    }

    .mypage_user .btn.btn-icon {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    .mypage_user .btn.btn-rounded {
        border-radius: 50px;
    }

    .mypage_user a.about-item-edit {
        float: right;
    }
    .mypage_user .svg-inline--fa{
        display: inline;
    }
    #modal-edit-user-mypage> .modal-dialog-scrollable .modal-body::-webkit-scrollbar {
        width: 0px;
    } 
</style>
