<template>
  <div role="main ">
    <Search />
    <div class="container">
      <div class="row">
        <div class="col-4">
          <FilterSidebar />
        </div>
        <div class="col-8">
          <p class="textResult my-3" style="text-align:start"> Hiển thị bài báo cáo được quân tâm nhất <i
              class="fas fa-chevron-down"></i> </p>
          <div class="d-flex justify-content-between" style="font-size: 12px;">
            <div class="py-2">
              <span class="border border-secondary text-secondary font-weight-bold p-1">kết quả {{listBooks.length}} của</span>
              <span class="font-weight-bold">{{totaldata.length}} </span>
              <span class="text-secondary">trong </span>
              <span class="font-weight-bold">{{selecteds?selecteds:'Tất cả tài nguyên'}}</span>
            </div>
            <div class="py-2">
              <label for="arange">Sắp xếp theo: </label>              
              <select class="btn btn-danger" style="font-size: 12px;padding: 2px;text-align-last: center;" id="arange">
                <option>Thích hợp</option>
                <option>Nhiều lượt xem</option>
                <option>Nhiều lượt thích</option>
                <option>Bán chạy</option>
              </select>
            </div>
            <div>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
              </ul>
            </div>
          </div>
          <div style="font-size: 12px;text-align: start;">
            <span>Chỉ hiển thị </span>
            <span class="text-danger p-1">Tạp chí có phản biện </span>
            <span class="text-secondary p-1" style="border-right:1px #DADADA solid;">(123,124,124)</span>
            <span class="text-danger p-1">Toàn văn trực tuyến </span>
            <span class="text-secondary p-1" style="border-right:1px #DADADA solid;">(123,123,123)</span>
            <span class="text-danger p-1">Trong mục thư viện </span>
            <span class="text-secondary p-1">(123,123,123)</span>
          </div>
          <div v-for="(book,index) in listBooks" :key="book.id" class="row book-container p-2 my-2 ml-0" style="border-radius:5px">
            <div class="col-2 d-flex justify-content-start " style="padding: 0px !important;">
              <span>{{ index+1 }}</span>
              <div>
                <img :src="book.img" class="bookImage mx-3">
                <p class="m-1">{{book.type == 'ebook' ? 'Sách': book.type}}</p>
              </div>
            </div>
            <div class="col-7 d-flex align-items-baseline ">
              <span class="bookmark mr-2"><i class="far fa-bookmark"></i></span>
              <div class="bookInfo">
                <p class="bookName">{{book.name}}</p>
                <p>{{book.decription}}</p>
                <p class="font-weight-bold">
                  <i v-if="book.status == 'Truy cập trực tuyến'" class="far fa-check-circle mr-1"></i>
                  <i v-else class="fas fa-minus-circle mr-1 text-warning"></i>
                  {{book.status}}</p>
                <p>Ngày tạo: {{book.created}}</p>
                <div>
                  <button v-for="action in book.actions" class="btn btn-default bookAction m-1" v-bind:key="action">
                    <router-link :to="(action == 'Chi tiết') ? `/detail/${book.id}` : (action == 'Xem toàn văn') ? `#`:(action == 'Đặt mượn') ? `#`:(action == 'Vị trí tài liệu') ? `#`:''"  class="nav-link">  {{action}} </router-link>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-3 ml-auto">
              <div v-if="book.isExist" class="d-flex justify-content-end customBackground">
                <div class="arrow-down">
                </div>
                <p class="customText">Phiên bản sẵn có</p>
              </div>
              <div style="margin: 2rem;padding-top: 1rem;">
                <button class="btn btn-primary customBtn"><i class="fas fa-thumbs-up"></i> Thích
                  {{book.likeCount}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FilterSidebar from '@/components/frontend/partials/FilterSidebar';
  import bookObjects from '@/assets/data/book.json';
  export default {
    name: 'SearchPage',
    components: {
      FilterSidebar,
    },
    data() {
      return {
        totaldata:bookObjects,
        listBooks:[],
        cat:this.$route.query.cat,
        key:this.$route.query.key,
        selecteds: null,
        keysearch: null,
        optionss:[]
      }
    },
    mounted() {
        //filter data search
        bookObjects.filter(client => {
            if(this.key != null || this.cat != null ){
              if(client.name.indexOf(decodeURIComponent(this.key)) >= 0  && client.cat == decodeURIComponent(this.cat)){
                 this.listBooks.push(client);
              }
            }else{
               this.listBooks.push(client);
            }
          })
          //set val input and select search
          if(this.$route.query.key != null || this.$route.query.cat != null ){
             this.keysearch = decodeURIComponent(this.$route.query.key);
              this.selecteds = decodeURIComponent(this.$route.query.cat);
          }
          // select option
          bookObjects.filter( client => {
              if(client.cat !=''){
                  this.optionss.push(client);
              }
          })
    },
    methods: {
      //next filter data search
      searchs() {
         bookObjects.filter( client => {
            if(this.keysearch != null || this.selecteds != null ){
              if(client.name.indexOf(this.keysearch) >= 0  && client.cat == this.selecteds){
                this.listBooks = [];
                return this.listBooks.push(client);
              }
            }
          })
      }
    },
    created: function () {
      // console.log(this.$route);
    }
  }
</script>

<style>
  .book-container {
    /* display: flex; */
    border: 1px #DADADA solid;
    /* border-bottom: none; */
    font-size: 14px;
    /* flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch; */
  }

  .textResult {
    text-align: start;
    font-weight: 600;
    font-size: 14px;
  }

  .pagination .page-link {
    color: red;
  }

  .bookName {
    font-weight: 700;
  }

  .bookInfo {
    text-align: left;
  }

  .bookImage {
    width: 100px;
    height: 150px;
  }

  .bookmark {

    background-color: #408080;
  }

  .fa-bookmark {
    padding: 4px;
    color: white;
  }

  .fa-check-circle {
    color: #408080;
    font-weight: 700;
  }

  .fa-chevron-down {
    font-size: 10px;
  }

  .bookAction {
   
    padding: 0px;
    height: 35px;
    line-height: 12px;
    margin-top: 32px !important;
  }
  .bookAction a{
    border: 1px #DADADA solid;
    color: #f15c58;
    border-radius: 5px;
  }
  .bookAction a:hover{
    background: #ff000042;
    color: #1f1d1d;
  }

  .customBackground {
    position: relative;
    right: -1.5rem;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 0px solid #f00;
    border-top: 1.5rem solid #f00;
    position: relative;
    top: -0.5rem;
  }

  .customText {
    position: relative;
    top: -0.5rem;
    background-color: red;
    color: white;
    height: 1.5rem;
    padding: 0.1rem;
  }

  .customBtn {
    font-size: 12px;
    padding: 0.2rem 1rem 0.1rem 1rem;
  }

  .search_box {
  padding-top: 10px;
  padding-bottom: 10px;
  background:#ad1010;
}
.search_box input,.search_box select,.search_box button {
  width: 100%;
  margin: 0!important;
}
.search_box .form-control,.search_box .custom-select{   
    color: gray;
}
::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.search_box input::placeholder,.search_box .custom-select::placeholder {
  color:gray;
}
</style>