<template>
<div>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark fixed-top">
            <!-- <router-link :to="{ name: 'Backend'}"  class="navbar-brand">
                Start Bootstrap
            </router-link> -->
            <router-link :to="{ name: 'Backend'}" class="navbar-brand mr-auto mr-lg-2">
                <img src="@/assets/images/logo-light.png" alt="Logo" />
            </router-link>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            
            <div class="tt_nav_right">
                <div class="searchbar d-none d-md-inline-block form-inline ml-auto mr-0">
                    <input class="search_input" type="text" name="" placeholder="Tìm kiếm ...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
                <b-dropdown class="tt_notify" variant="link" toggle-class="text-decoration-none" no-caret>
                    <template v-slot:button-content>
                        <div class="notifications">
                            <i class="fa fa-bell"></i>
                            <span class="num">4</span>
                        </div>
                    </template>
                    <b-dropdown-item>
                        <span class="icon"><i class="fa fa-user"></i></span>
                        <span class="text"> Someone Like Your Post</span>
                    </b-dropdown-item>
                    <b-dropdown-item>
                        <span class="icon"><i class="fa fa-user"></i></span>
                        <span class="text"> Someone Like Your Post</span>
                    </b-dropdown-item>
                    <b-dropdown-item>
                        <span class="icon"><i class="fa fa-user"></i></span>
                        <span class="text"> Someone Like Your Post</span>
                    </b-dropdown-item>
                </b-dropdown>
                <!-- Navbar-->
                <b-dropdown  variant="light" toggle-class="text-decoration-none">
                    <template v-slot:button-content>
                        <i class="fas fa-user fa-fw"></i>  {{userLogin}}
                    </template>
                    <b-dropdown-item href="/my">Thông tin của tôi</b-dropdown-item>
                    <b-dropdown-item href="/logout">Đăng xuất</b-dropdown-item>
                </b-dropdown>
            </div>
            
        </nav>
</div>
  
</template>

<script>
export default {
    name: "Header",
    computed: {
        userLogin() { 
        const user = JSON.parse(localStorage.getItem('user'));
        return user.username
        }
    }
}
</script>
<style>
    .tt_nav_right {
        margin-left: auto;
    }
 .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 38px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }


.notifications {
    width: 40px;
    height: 40px;
    background:rgba(0,0,0,.2);
    border-radius:100%;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
    padding: 10px 0;
    position: relative;
}
.notifications svg {
    color:#fff;
    line-height:60px;
    font-size:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.notifications .num {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff2c74;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 0.8rem;
}
.tt_notify ul li a {
    font-size: 0.9rem;
    color: #333
}
</style>
