<template>
<div>
  <Header />
  <div id="layoutSidenav">
      <Sidebar />
      <div id="layoutSidenav_content">
          <main>
            <router-view />
          </main>
      </div>
  </div>
</div>
</template>

<script>
import Header from '@/components/backend/Header.vue';
import Sidebar from '@/components/backend/partials/Sidebar.vue';
export default {
    name: "LayoutBackend",
    components: {
      Header,
      Sidebar
    },
}
</script>
<style src="./style.css" lang="css" />