<template>
  <div class="create_user col_12">
    <h1 class="title"><i class="fas fa-plus"></i> Thêm User</h1>
    <hr>
    <b-row>
      <!-- Col Left -->
      <b-col>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Tên đăng nhập</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.username"
              placeholder="Nhập tên đăng nhập"
              class="form-control"
              id="inputName"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Tên</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.firstname"
              placeholder="Nhập tên"
              class="form-control"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Họ và tên đệm</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.lastname"
              placeholder="Họ và tên đệm"
              class="form-control"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Địa chỉ Email</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.email"
              placeholder="sv@gmail.com"
              class="form-control"
              id=""
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Quyền</label>
          </b-col>
          <b-col class="col-5">
            <b-form-select v-model="input.role" :options="roles"></b-form-select>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Loại tài khoản</label>
          </b-col>
          <b-col class="col-5">
            <b-form-select v-model="input.type" :options="types"></b-form-select>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Hình ảnh</label>
          </b-col>
          <b-col class="col-9">
            <div class="file-field">
              <b-form-file v-model="input.file" class="mt-3" plain></b-form-file>
              <div class="mt-3">Selected file: {{ input.file ? input.file.name : '' }}</div>
            </div>
            <p style="margin-bottom:0">Các loại tệp được chấp nhận: .jpe .jpeg .jpg .png .svg</p
            >
          </b-col>
        </b-row>
      </b-col>
      <!-- Col Right -->
      <b-col>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Trường</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.school"
              placeholder="Tên trường"
              class="form-control"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Khoa</label>
          </b-col>
          <b-col class="col-9">
            <b-form-select v-model="input.faculty" :options="facultys"></b-form-select>
          </b-col>
        </b-row>

        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Ngành học</label>
          </b-col>
          <b-col class="col-9">
            <b-form-select v-model="input.major" :options="majors"></b-form-select>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Số điện thoại</label>
          </b-col>
          <b-col class="col-9">
            <b-form-input
              v-model="input.tel"
              placeholder="Số điện thoại"
              class="form-control"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Năm sinh</label>
          </b-col>
          <b-col class="col-9">
            <b-input-group>
              <b-form-input
                v-model="input.birthday"
                type="text"
                placeholder="YYYY-MM-DD"
                autocomplete="off"
                id="birthday-input"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="input.birthday"
                  button-only
                  right
                  aria-controls="birthday-input"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="form-group">
          <b-col class="col-3">
            <label class="col-form-label">Lĩnh vực quan tâm</label>
          </b-col>
          <b-col class="col-9">
            <b-form-checkbox-group
              id="checkbox-group-1"
              v-model="input.recomment"
              :options="recomments"
              name="flavour-1"
            ></b-form-checkbox-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <b-button variant="success"><i class="fas fa-save"></i> Tạo tài khoản</b-button>
  </div>
</template>

<script>
export default {
  name: "UserCreate",
  data () {
    return {
      input: {
        username: '',
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        file: null,
        role: null,
        type: null,
        school: '',
        faculty: null,
        major: null,
        birthday: '',
        recomment: []
      },
      roles: [
        { value: null, text: 'Chọn quyền' },
        { value: 1, text: 'Quản trị' },
        { value: 2, text: 'Nhân viên' },
        { value: 3, text: 'Bạn đọc' },
      ],
      types: [
        { value: null, text: 'Chọn loại tài khoản' },
        { value: 1, text: 'Tài khoản thuộc trường' },
        { value: 2, text: 'Tài khoản ngoài trường' }
      ],
      facultys: [
        { value: null, text: 'Chọn khoa' },
        { value: 1, text: 'Khoa cơ khí' },
        { value: 2, text: 'Khoa công nghệ thông tin' }
      ],
      majors: [
        { value: null, text: 'Chọn ngành học' },
        { value: 1, text: 'Chế tạo máy' },
        { value: 2, text: 'Quản trị mạng' }
      ],
      recomments: [
        { text: 'Orange', value: 'orange' },
        { text: 'Apple', value: 'apple' },
        { text: 'Pineapple', value: 'pineapple' },
        { text: 'Grape', value: 'grape' }
      ]
    }
  },
  components: {},
};
</script>
<style>
.create_user {
  text-align: left;
}
</style>