<template>
  <div class="row pt-3">
    <div class="col-8">
      <div class="comment ">
        <div class="card">
          <div class="card-header pb-0 ">
            <div class="row">
              <div class="col">
                <h5 class="ms_title_comment">Ý kiến bạn đọc</h5>
              </div>
            </div>
          </div>
          <div class="card-body pt-1 pl-3 pr-3" id="accordion">
            <!-- -------------------------------- -->
             <div class="accordion border-0" role="tablist">
                <b-card no-body class="mb-1 border-0"  v-for="item in lists.slice(0,6)" v-bind:key="item.id">
                    <b-card-header header-tag="header" class="px-2 py-0 border-0 bg-white" role="tab">
                        <div class="row ms_comment_top pt-2 pb-2">
                            <div class="col-12">
                                <div class="row">
                                <div class="col">
                                    <div class="d-flex">
                                    <div class="col-1 text-left p-0 ">
                                        <img
                                        src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                        class="w-100 img rounded-circle img-fluid"
                                        />
                                    </div>
                                    <div class="col pl-2">
                                        <a class="float-left mb-0 pt-2 pr-2" href=""
                                        ><strong>Maniruzzaman Akash </strong></a
                                        >
                                        <p
                                        class="text-secondary text-left mb-0 pt-2 pl-2 comment_time"
                                        >
                                        15 Minutes Ago
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-right mb-0 pt-2">
                                    <span class="comment_control"
                                        ><i class="fas fa-thumbs-up"></i> 105</span
                                    >
                                    <span class="comment_control"
                                        ><a href="#"> Thích</a></span
                                    >
                                    |
                                    <span class="comment_control" v-b-toggle="'accordion-'+item.id" >
                                        <a class="text-primary " @click="comment_child1(item.id)" >
                                        Trả lời (2)</a >
                                    </span >
                                    |
                                    <span class="comment_control"
                                        ><a href="#"> Chia sẻ</a>
                                    </span>
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="content_comment pl-5">
                                Bài viết rất xác thực, cảm phục tác giả đã nói lên những điều
                                việt nam đang nghĩ.
                                </p>
                            </div>
                        </div>
                    </b-card-header>
                    <b-collapse :id="'accordion-'+item.id" accordion="my-accordion">
                        <b-card-body class="px-2 pt-0 pb-3 border rounded" style=" background: #fff;" >
                            <div class="box_comment_child">
                                <div class="row pl-5  pb-2 pt-2 ms_comment_child" v-for="item in lists.slice(0,4)" v-bind:key="item.id" >
                                    <div class="col-12">
                                        <div class="row">
                                        <div class="col-7">
                                            <div class="d-flex">
                                            <div class="col-1 text-left p-0">
                                                <img
                                                src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                class="w-100 img rounded-circle img-fluid"
                                                />
                                            </div>
                                            <div class="col pl-2">
                                                <a class="float-left mb-0 pt-2 pr-2" href="" >
                                                    <strong>Maniruzzaman Akash </strong></a >
                                                <p
                                                class="text-secondary text-left mb-0 pt-2 pl-2 comment_time"
                                                >
                                                15 Minutes Ago
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-right mb-0 pt-2">
                                            <span class="comment_control"
                                                ><i class="fas fa-thumbs-up"></i> 10</span
                                            >
                                            <span class="comment_control"
                                                ><a href="#"> Thích</a></span
                                            >
                                            |
                                            <span class="comment_control">
                                                <a class="text-primary"  @click="comment_child2(item.id)"> Trả lời</a></span
                                            >
                                            |
                                            <span class="comment_control"
                                                ><a href="#"> Chia sẻ</a>
                                            </span>
                                            </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="content_comment pl-5">
                                        Cảm ơn bạn đã quan tâm đến và đồng cảm cùng tôi
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-comment-child">
                                <b-form @submit="onSubmitComment_child" v-if="show">
                                     <b-input-group :prepend="comment_user" class="mt-3">
                                        <b-form-input 
                                            v-model="comment_child"
                                            placeholder="Nhập nội dung..."
                                            class="input_coment_child"
                                            required
                                        ></b-form-input>
                                        <b-input-group-append>
                                            <b-button type="submit" variant="outline-success" class="btn_send_coment_child"><i class="far fa-paper-plane"></i></b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form>
                            </div>
                        </b-card-body>
                    </b-collapse>
                </b-card>

            </div>
            <!-- ------------------------------------------- -->
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="review_form" class="col-inner">
        <div class="review-form-inner has-border">
          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">
              Thêm ý kiến
            </h3>
            <b-form @submit="onSubmit" v-if="show">
                <b-form-group id="input-group-2" label="Ý kiến của bạn *" label-for="input-2">
                    <b-form-textarea
                        id="textarea-no-resize"
                        v-model="comment"
                        placeholder="Nhập nội dung..."
                        rows="4"
                        required
                        max-rows="6"
                    ></b-form-textarea>
                </b-form-group>
                <b-button type="submit" class="px-4 py-1" variant="success"><i class="far fa-paper-plane"></i> Gửi </b-button>
                </b-form>
          </div>
          <!-- #respond -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Comment",
  props: {
    lists: { type: Array, default: null },
  },
  data() {
    return {
        detailId: this.$route.params.id,
        comment:'',
        comment_child:'',
        comment_user:'',
        show: true,
        visible: true
    };
  },
  computed: {
   
  },
  methods: {
    onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.comment))
    },
    onSubmitComment_child(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.comment_user+this.comment_child))
    },
    comment_child1(id) {
        console.log(id)
        this.comment_user = '@Maniruzzaman Akash'+id+' ';
    },
    comment_child2(id) {
      console.log(id)
        this.comment_user = '@Maniruzzaman'+id+' ';
    }
  },
};
</script>
<style>
    .ms_title_comment {
        color: #ed1d2b;
    }
    .ms_comment_top:hover,
    .ms_comment_child:hover {
        background: #fff;
    }
    .ms_comment_child {
        background: #fff;
    }

    .ms_comment_top .content_comment,
    .ms_comment_child .content_comment {
        font-size: 90%;
    }
    .ms_comment_top .comment_time,
    .ms_comment_child .comment_time {
        font-size: 80%;
        margin-top: 3px;
    }
    .ms_comment_top .comment_control,
    .ms_comment_child .comment_control {
        font-size: 75%;
        cursor: pointer;
    }
    .ms_comment_top .comment_control:focus {
        color: #0056b3 !important;
        box-shadow: none;
        border: none;
        outline: none !important;
    }
    .comment-form-comment label{
        font-weight: bold;
        display: block;
        font-size: .9em;
        margin-bottom: 0.4em;
    }
    .comment-respond  h3{
        color: #555;
        width: 100%;
        margin-top: 0;
        margin-bottom: .5em;
        text-rendering: optimizeSpeed;
        font-weight: 700;
    }
    .col-inner{
        padding: 19px 10px;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }
    .btn_send_coment_child{
        border-radius:0 1.25rem  1.25rem 0;
        width: 4rem;
        border-left: none; 
        background: #fff;
        border-color: #ccc; 
    }
    .btn_send_coment_child .svg-inline--fa{
        font-size: 18px;
    }
    .input_coment_child{
        border-radius: 1.25rem 0 0 1.25rem;
        border-left: 1px solid #fff;
    }
    .input_coment_child:focus{
        outline: none;
        box-shadow:none;
        border-color: #ccc;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .input-comment-child .input-group-text{
        color: #0d7cea;
        background-color: #ffffff;
        border-right:none;
        border-radius: 2.25rem;
    }
    .box_comment_child{
        max-height: 50vh;
        overflow-x: hidden;
    }
</style>
