<template>
  <div class="filter">
    <div class="border border-secondary rounded-lg my-3 ">
      <p class="font-weight-bold customBorder" style="background-color:#f1f1f1">
        <i class="fas fa-user mx-2 customBorder"></i>Chủ đề của tôi
      </p>
      <p class="text-danger px-2" style="background-color:#a2a2a2">Thiết lập</p>
    </div>
    <div class="border border-secondary rounded-lg my-3 ">
      <p class="font-weight-bold px-2 customBorder" style="background-color:#f1f1f1">Mở rộng kết quả tìm kiếm</p>
      <input type="checkbox" class="mr-1 ml-2" />
      <span>Mở rộng kết quả tìm kiếm</span>
    </div>
    <div class="border border-secondary rounded-lg my-3 ">
      <p class="font-weight-bold px-2 customBorder" style="background-color:#f1f1f1 ">Chỉ hiển thị</p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Tạp trí có phản biện</span>
        <span class="text-secondary">(233.123.233)</span>
      </p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Toàn văn trực tuyến</span>
        <span class="text-secondary">(233.111.111)</span>
      </p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Trong mục lục thư viện</span>
        <span class="text-secondary">(111.333.222)</span>
      </p>
    </div>
    <div class="border border-secondary rounded-lg my-3 ">
      <p
        class="font-weight-bold px-2 customBorder"
        style="background-color:#f1f1f1;text-align:center"
      >Lọc kết quả</p>
      <p
        class="border border-left-0 border-right-0 border-bottom-0 pl-2 font-weight-bold"
      >Năm xuất bản:</p>
      <div class="m-3" style="text-align:center">
        <span class="text-secondary" style="font-size:14px">Từ</span>
        <input type="text" style="width:50px;height:1.2rem" value="1" />
        <span class="text-secondary" style="font-size:14px">đến</span>
        <input type="text" style="width:50px; height:1.2rem" value="2020" />
        <button class="btn-sm btn-danger" style="font-size:0.75rem;padding:1px 4px 0px 4px ;">Chọn</button>
      </div>
      <div class="slidecontainer px-3 text-danger font-weight-bold">
        <div class="d-flex justify-content-between" style="position:relative;right:-1rem">
          <p class="ml-1">1</p>        
          <p>2020</p>
        </div>
        <input type="range" min="1" max="100" value="50" class="slider mx-4 mb-3" id="myRange" />
      </div>
    </div>
    <div class="border border-secondary rounded-lg my-3 ">
      <p class="font-weight-bold px-2 customBorder" style="background-color:#f1f1f1">Tài liệu mới</p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Mới từ tuần trước</span>
        <span class="text-secondary">(23.242)</span>
      </p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Mới từ tháng trước</span>
        <span class="text-secondary">(23.242)</span>
      </p>
      <p class="border border-left-0 border-right-0 border-bottom-0 pl-2">
        <span class="text-danger">Mới từ 3 tháng trước</span>
        <span class="text-secondary">(23.242)</span>
      </p>
      <div class="pb-2">
        <select class="form-control form-control-sm" id="sel1" name="sellist1">
          <option>Lựa chọn khác:</option>
          <option>Mới từ 6 tháng trước</option>
          <option>Mới từ 1 năm trước</option>
          <option>Mới từ 2 năm trước</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FilterSidebar"
};
</script>

<style>
p {
  margin: 0;
  padding: 0;
}
.filter {
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.customBorder {
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
  
}
.slidecontainer {
  width: 90%;
}
.slider {
  -webkit-appearance: none;
  width: 97%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff6666;
  cursor: pointer;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ff6666;
  cursor: pointer;
}
</style>