<template>
  <div class="list_user">
      <div class="card mb-1" v-for="item in lists" v-bind:key="item.id">
            <router-link :to="{ name: 'GroupDetail'}">
                <div class="card-body d-flex p-0 ">
                    <div class="img_check">
                        <img v-if="item.img" :src="item.img" alt="" class="img-responsive ms_img_list_user">
                        <img v-else :src="url" alt="" class="img-responsive ms_img_list_user">
                        <i class="far fa-circle ms_check_online"></i>
                    </div>
                    <div class="content_card p-2 d-flex w-100">
                        <p class="card-text ms_card_text text-left w-100">
                           <span> {{item.name}} </span>
                        </p >
                       <p class="text-right mb-0"> 
                           <span class="badge badge-light ms_bage_user">{{item.isread}}</span>
                           <span class="badge text-muted">{{item.time}}</span>
                           </p>
                    </div>
                </div>
           </router-link>
        </div>
  </div>
</template>

<script>
export default {
    name:'list_user',
    props: {
        lists: { type: Array, default: null },
        
    },
    data() {
      return {
       url:'https://vuejs.org/images/logo.png'
      }
    },
    
}
</script>

<style>
.list_user .ms_img_list_user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 7px;
}
.list_user .img_check {
    position: relative;
}
.list_user .ms_check_online{
    position: absolute;
    background: green;
    border-radius: 50%;
    color: green;
    font-size: 10px;
    bottom: 7px;
    right: 0px;
}
.list_user .ms_bage_user{
    background: #2a579c;
    color:#fff;
    border-radius: 50%;
}
.list_user .ms_card_text{
    color: #555;
    margin-top: 10px;
}
.list_user .ms_card_text span{
    white-space: pre-line;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
}
.list_user a{
    text-decoration: none;
}
.list_user .card{
    /* border: none; */
    /* border-bottom:1px solid #ccc; */
}
.list_user .card:hover,.list_user .active{
    background: #bedbe8;
}
</style>