<template>
    <div class="list_carousel">
        <div class="row">
            <div class="col">
            <carousel :autoplay="false" :nav="false" :dots="false" :margin=10 :responsive="{0:{items:1,nav:false},600:{items:3,nav:false},1200:{items:6,nav:false},}" >
            <div class="list-card" v-for="item in lists.slice(0,6)" v-bind:key="item.id">
                <div class="card ms_card_carousel border" >
                    <router-link :to="{ name: 'FeDocumentDetail',params: { id: item.id }}">
                        <img class="card-img-top ms_img_carousel" :src="item.img" alt="image">
                        <div class="card-body ms_card_body ">
                            <p class="card-text ms_card_text">
                                <small class="text-muted">{{item.decription}}</small>
                            </p>
                        </div>
                    </router-link>
                </div>
            </div>
            </carousel>
            </div>
        </div>
        
        <div class="row text-right" v-if="status">
            <div class="col">
                    <a href="" class="ms_move_carousel"> <i class="far fa-hand-point-right"></i> Xem thêm</a>
            </div>
        </div>
        
    </div>
</template>
<script>
import carousel from 'vue-owl-carousel';
export default {
    name:'list_carousel',
    components: { 
        carousel 
    },
    props: {
        lists: { type: Array, default: null },
        status : {type: Boolean, default: false }
    },
      
}

</script>
<style>
.list_carousel .ms_move_carousel{
  color: black;
  font-size: 80%;
  display: inline-flex;
  width: 85px;
  line-height: 15px;
}

.list_carousel .text-muted {
    color: #333 !important;
}
.list_carousel .ms_card_carousel{
  cursor: pointer;
  width: 111.6px;
  background: #f8f8f8
}
.list_carousel .ms_card_text small{
    white-space: pre-line;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    height: 42px;
}
.list_carousel .ms_img_carousel{
    width: 100%;
}
.list_carousel .ms_card_body{
      padding: 4px;
}
.list_carousel > .card {
    flex: none;
    margin-bottom: 4px;
}
.ms_card_carousel a {
  text-decoration: none;  
}
.ms_card_carousel:hover a .text-muted {
  color: #000;
}
</style>