<template>
  <div  class="owl_bookread">
      <carousel :autoplay="false" :nav="false" :dots="false" :margin=10 >
          <div class="item" v-for="item in lists_carousel" v-bind:key="item.id">
          <router-link :to="{ name: 'EbookDetail',params: { id: item.id }}">
            <img class="card-img-top ms_img_carousel" :src="item.img" alt="image">
            <h3 class="name">{{item.name}}</h3>
          </router-link>
        </div>

        <template slot="prev"><span class="prev"><i class="fas fa-chevron-left"></i></span></template>
        <template slot="next"><span class="next"><i class="fas fa-chevron-right"></i></span></template>
    </carousel>
  </div>
</template>

<script>
import carousel from 'vue-owl-carousel';
import lists_carousel from "@/assets/data/book.json";
export default {
    components: { carousel },
    data (){
      return {
        lists_carousel:lists_carousel
      }
    }
}
</script>

<style>
.owl_bookread {
    position: relative;
}
.owl_bookread > div > span > span {
    position: absolute;
    top: 36%;
    z-index: 3;
    background: #fff;
    padding: 5px 3px;
}
.owl_bookread > div > span > span i {
    color: red;
}
.owl_bookread > div > span > .prev {
    left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.owl_bookread > div > span > .next {
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.owl_bookread .item a {
    text-decoration: none;
}
.owl_bookread .item {
    background: #f8f8f8;
}
.owl_bookread .item .name {
    color: #333;
    font-size: 80%;
    padding: 5px;
    white-space: pre-line;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
}
.owl_bookread .item:hover .name {
    color: #000;
}
</style>