<template>
  <div class="search_box">
    <div class="container">
      <b-form class="row"  >
      <div class="col-6">
        <b-input
          v-model="keySearch"
          id="inline-form-input-name"
          placeholder="Nhập nội dung bạn muốn tìm kiếm"
        ></b-input>
      </div>
      <div class="col-4">
        <b-form-select v-model="selected"
          id="inline-form-custom-select-pref"
        >
          <template v-slot:first>
              <b-form-select-option :value="null" disabled>Chọn...</b-form-select-option>
          </template>

          <b-form-select-option  v-for="list in options" :key="list.id"  :value="list.cat">{{list.cat}}</b-form-select-option>

        </b-form-select>
      </div>
      <div class="col-2">
        <b-button variant="light"  @click="search()">Tìm kiếm</b-button>
      </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import lists_carousel from "@/assets/data/book.json";
export default {
  name: 'Search',
  
  data() {
      return {
        selected: null,
        keySearch:null,
        options:[]
      }
    },
    computed: {
       
    },
    mounted() {
      if(this.$route.query.key != null || this.$route.query.cat != null ){
          this.keySearch = decodeURIComponent(this.$route.query.key);
          this.selected = decodeURIComponent(this.$route.query.cat);
      }
     
      return lists_carousel.filter( client => {
          if(client.cat !=''){
              this.options.push(client);
          }
        })
    },
    methods: {
      search: function() {
          if(this.selected != null || this.keySearch != null){   
            this.$router.push(`/search?cat=${this.selected}&key=${this.keySearch}`);
          }
      }
    }
    
  
}
</script>

<style>
.search_box {
  padding-top: 10px;
  padding-bottom: 10px;
  background:#ad1010;
}
.search_box input,.search_box select,.search_box button {
  width: 100%;
  margin: 0!important;
}
.search_box .form-control,.search_box .custom-select{   
    color: gray;
}
::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.search_box input::placeholder,.search_box .custom-select::placeholder {
  color:gray;
}
</style>