<template>
  <div class="sidebar">
    <div class="related_book">
      <h3 class="text-left ms_title_content">Tài liệu đang đọc</h3>
      <ListBookRead />
    </div>
    <div class="self_chart">
      <h3 class="text-left ms_title_content">Thống kê cá nhân</h3>
      <SelfChart :chart-data="selfchart" />
    </div>
    <div class="self_chart">
      <h3 class="text-left ms_title_content">Thống kê sách đã đọc</h3>
      <BookChart :chart-data="bookchart" />
    </div>
  </div>
</template>

<script>
import ListBookRead from '@/components/frontend/partials/ListBookRead';
import SelfChart from '@/assets/chartjs/SelfChart.js';
import BookChart from '@/assets/chartjs/BookChart.js';
export default {
  name: 'Sidebar',
  components:{
    ListBookRead,
    SelfChart,
    BookChart
  },
  data() {
    return {
      selfchart: {},
      bookchart:{},
    }
  },
  methods: {
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    }
  },
  mounted() {
    this.selfchart = {
      labels: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
      datasets: [
        {
          label: 'Sách kinh tế',
          backgroundColor: '#99FF66',
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        }, {
          label: 'Sách tiếng anh',
          backgroundColor: '#33FF99',
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        }, 
        {
          label: 'Sách khoa học',
          backgroundColor: '#99CC00',
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        },
        {
          label: 'Tài liệu chuyên ngành',
          backgroundColor: '#0099CC',
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        },
        {
          label: 'Tài liệu khác',
          backgroundColor: '#6633CC',
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        }
      ]
    }
    this.bookchart = {
      labels: ['Sách đã đọc', 'Sách đang đọc', 'Sách đã mượn', 'Sách đã trả', 'Sách chưa đọc'],
      datasets: [
        {
          label: 'Data One',
          backgroundColor: ['#6633CC','#0099CC','#f83979','#f87959','#fff000'],
          data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
        }
      ]
    }
  }
}
</script>

<style>
.sidebar .ms_title_content {
  margin-top: 15px;
}
</style>