<template>
    <div class="list_user">
        <h1 class="title"><i class="fas fa-list-ul"></i> Danh sách các tác giả</h1>
        <hr>
        <b-row>
            <b-col>
                <b-form role="form" v-on:submit.prevent="addAuthor()">
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Tên tác giả</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-input
                            v-model="input.name"
                            placeholder="Nhập tên tác giả"
                            class="form-control"
                            ></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Mã tác giả</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-input
                            v-model="input.code"
                            placeholder="Nhập mã tác giả"
                            class="form-control"
                            ></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Giới thiệu về tác giả</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-textarea
                                v-model="input.desc"
                                placeholder="Giới thiệu về tác giả"
                                rows="3"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Ảnh đại diện</label>
                        </b-col>
                        <b-col class="col-9">
                            <div class="file-field">
                            <b-form-file v-model="input.file" class="mt-3" plain></b-form-file>
                            <div class="mt-3">Selected file: {{ input.file ? input.file.name : '' }}</div>
                            </div>
                            <p style="margin-bottom:0">Các loại tệp được chấp nhận: .jpe .jpeg .jpg .png .svg</p
                            >
                        </b-col>
                    </b-row>
                    <input type="submit" class="btn btn-success" value="Thêm tác giả">
                </b-form>
            </b-col>
            <b-col>
                <b-row class="tt_filter">
                    <b-col sm="6" class="my-1">
                        <b-input-group size="sm">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="TÌm kiếm tác giả"
                            ></b-form-input>
                        </b-input-group>
                    </b-col>
                    <b-col sm="6" class="my-1">
                        <b-form-select
                            v-model="perPage"
                            id="perPageSelect"
                            size="sm"
                            :options="pageOptions"
                        ></b-form-select>
                    </b-col>
                </b-row>
                <b-table
                    id="my-table"
                    :items="items"
                    :fields="fields"
                    :current-page="currentPage"
                    :filter="filter"
                >
                    <template v-slot:cell(id)="row">
                        {{ row.value }}
                    </template>

                    <template v-slot:cell(name)="row">
                        {{ row.value }}
                    </template>

                    <template v-slot:cell(actions)="row">
                        <b-button size="sm" @click="row.toggleDetails">
                        {{ row.detailsShowing ? 'Ẩn' : 'Hiện' }} Tác giả
                        </b-button>
                    </template>
                    <template v-slot:row-details="row">
                        <ul>
                            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                        </ul>
                    </template>
                </b-table>
                <b-col sm="6" class="my-1">
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    align="fill"
                    size="sm"
                    ></b-pagination>
                </b-col>
            </b-col>
        </b-row>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    name: "CategoryList",
    data () {
        return {
            input: {
                id :'',
                name: '',
                code: '',
                desc: '',
                file: null
            },
            items: [],
            fields: [
                {
                    key: 'id',
                    label: 'ID',
                    sortable: true
                },
                {
                    key: 'name',
                    label: 'Tác giả',
                    sortable: true
                },
                {
                    key: 'actions',
                    label: '',
                    sortable: false,
                }
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [
                { value: 5, text: 'Hiển thị 5 Tác giả / Trang' },
                { value: 10, text: 'Hiển thị 10 Tác giả / Trang' },
                { value: 15, text: 'Hiển thị 15 Tác giả / Trang' },
            ],
            filter: null,
            filterOn: [],
        }
    },
    methods : {
        async addAuthor () {
            if(this.input.name) {
                await this.$store.dispatch('author/addAuthor',{name:this.input.name})
                //router.push({name: 'Backend'})
            }
        }
    },
    watch: {
        'perPage': async function(newPerPage) {
            if(newPerPage) {
                await this.$store.dispatch('author/getAllAuthor',{perPage: newPerPage,currentPage:this.currentPage})
            }
        },
        'currentPage': async function(newCurrentPage) {
            if(newCurrentPage) {
                await this.$store.dispatch('author/getAllAuthor',{perPage:this.perPage,currentPage: newCurrentPage})
            }
        },
        'filter': async function(allitem) {
            console.log(allitem)
            if(allitem) {
                await this.$store.dispatch('author/getAllAuthor',{perPage:'',currentPage: ''})
            } else {
                await this.$store.dispatch('author/getAllAuthor',{perPage:this.perPage,currentPage: this.currentPage})
            }
        },
        '$store.state.author.authors' (newVal) {
            console.log(newVal)
            
            if(newVal) {
                this.items = newVal
                this.totalRows = this.$store.state.author.total
            }
        },
    },
    computed: {
        ...mapState({
            authors: state => state.authors,
        })
    },
    async created () {
        await this.$store.dispatch('author/getAllAuthor',{perPage:this.perPage, currentPage:this.currentPage})
    }
}
</script>