<template>
  <div class="create_user col_12">
    <h2>Tạo mới tài liệu</h2>
    <b-row>
      <b-col class="col-6">
        <label class="col-form-label">Tiêu đề tài liệu</label>
        <b-form-input
          v-model="text"
          placeholder=""
          class="form-control"
          id="inputName"
        ></b-form-input>
      </b-col>
      <b-col class="col-3">
        <label class="col-form-label">Loại tài liệu</label>
        <b-form-select :options="options"></b-form-select>
      </b-col>
      <b-col class="col-3">
        <label class="col-form-label">Danh mục</label>
        <b-form-select :options="options"></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-6">
        <label class="col-form-label">Tác giả</label>
        <b-form-input
          v-model="text"
          placeholder=""
          class="form-control"
          id="inputName"
        ></b-form-input>
      </b-col>
      <b-col class="col-3">
        <label class="col-form-label">Năm xuất bản</label>
        <b-form-input
          v-model="text"
          placeholder=""
          class="form-control"
          id="inputName"
        ></b-form-input>
      </b-col>
      <b-col class="col-3">
        <label class="col-form-label">Số trang</label>
        <b-form-input
          v-model="text"
          placeholder=""
          class="form-control"
          id="inputName"
        ></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-12">
        <label class="col-form-label">Mô tả tài liệu</label>
        <b-form-textarea
          id="textarea-large"
          size="lg"
          sm="10"
          placeholder=""
        ></b-form-textarea>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-12">
        <label class="col-form-label">Tài liệu</label>
        <b-form-file id="" size="sm"></b-form-file>
      </b-col>
    </b-row>
    <div class="form-group row">
      <div class="container mt-3">
        <b-button type="submit" variant="btn btn-primary m-1">Tạo mới</b-button>
        <b-button type="reset" variant="btn btn-danger m-1">Đặt lại</b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserCreate",
  components: {},
};
</script>
<style>
.create_user {
  text-align: left;
  padding: 15px;
}
</style>