<template>
  <div>
    Man hinh chi tiet User
  </div>
</template>
<script>

export default {
  name: "UserDetail",
  components: {
  },
  data() {
    
  },
  methods(){
  }
};
</script>
<style>

</style>