<template>
  <div class="list_user">
    <h1 class="title"><i class="fas fa-list-ul"></i>Quản lý ngành học</h1>
    <hr />
    <b-row>
      <b-col>
        <b-form role="form" v-on:submit.prevent="addMajor()">
          <b-row class="form-group">
            <b-col class="col-3">
              <label class="col-form-label">Tên ngành học</label>
            </b-col>
            <b-col class="col-9">
              <b-form-input
                v-model="input.name"
                placeholder="Tên ngành học"
                class="form-control"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="form-group">
            <b-col class="col-3">
              <label class="col-form-label">Mã ngành học</label>
            </b-col>
            <b-col class="col-9">
              <b-form-input
                v-model="input.code"
                placeholder="Nhập mã ngành học"
                class="form-control"
              ></b-form-input>
            </b-col>
          </b-row>
          <input
            type="submit"
            class="btn btn-success"
            value="Thêm loại tài liệu"
          />
        </b-form>
      </b-col>
      <b-col>
        <b-row class="tt_filter">
          <b-col sm="6" class="my-1">
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="TÌm kiếm khoa"
              ></b-form-input>
            </b-input-group>
          </b-col>
          <b-col sm="6" class="my-1">
            <b-form-select
              v-model="perPage"
              id="perPageSelect"
              size="sm"
              :options="pageOptions"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-table
          id="my-table"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :filter="filter"
        >
          <template v-slot:cell(id)="row">
            {{ row.value }}
          </template>
          <template v-slot:cell(name)="row">
            {{ row.value }}
          </template>
          <template v-slot:cell(actions)="row">
            <b-button size="sm" @click="row.toggleDetails">
              {{ row.detailsShowing ? "Ẩn" : "Hiện" }} Ngành học
            </b-button>
          </template>
          <template v-slot:row-details="row">
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </template>
        </b-table>
        <b-col sm="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "UserMajor",
  data() {
    return {
      input: {
        id: "",
        name: "",
        code: "",
        desc: "",
        file: null,
      },
      items: [],
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "name",
          label: "Tên khoa",
          sortable: true,
        },
        {
          key: "actions",
          label: "",
          sortable: false,
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [
        { value: 5, text: "Hiển thị 5 khoa / Trang" },
        { value: 10, text: "Hiển thị 10 khoa / Trang" },
        { value: 15, text: "Hiển thị 15 khoa / Trang" },
      ],
      filter: null,
      filterOn: [],
    };
  },
  methods: {
    async addMajor() {
      if (this.input.name && this.input.code) {
        await this.$store.dispatch("major/addMajor", {
          name: this.input.name,
          code: this.input.code,
        });
      }
    },
  },
  watch: {
    perPage: async function (newPerPage) {
      if (newPerPage) {
        await this.$store.dispatch("major/getAllMajor", {
          perPage: newPerPage,
          currentPage: this.currentPage,
        });
      }
    },
    currentPage: async function (newCurrentPage) {
      if (newCurrentPage) {
        await this.$store.dispatch("major/getAllMajor", {
          perPage: this.perPage,
          currentPage: newCurrentPage,
        });
      }
    },
    filter: async function (allitem) {
      if (allitem) {
        await this.$store.dispatch("major/getAllMajor", {
          perPage: "",
          currentPage: "",
        });
      } else {
        await this.$store.dispatch("major/getAllMajor", {
          perPage: this.perPage,
          currentPage: this.currentPage,
        });
      }
    },
    "$store.state.major.majors"(newVal) {
      if (newVal) {
        this.items = newVal;
        this.totalRows = this.$store.state.major.total;
      }
    },
  },
  computed: {
    ...mapState({
      majors: (state) => state.majors,
    }),
  },
  async created() {
    await this.$store.dispatch("major/getAllMajor", {
      perPage: this.perPage,
      currentPage: this.currentPage,
    });
  },
};
</script>
<style>
ul.treeview {
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>