<template>
    <div class="list_user">
        <h1 class="title"><i class="fas fa-list-ul"></i>Quản lý tài khoản</h1>
        <hr>
        <b-row>
            <b-col>
                <b-form role="form" v-on:submit.prevent="addType()">
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Tên tài khoản</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-input
                            v-model="input.name"
                            placeholder="Nhập tên tài khoản"
                            class="form-control"
                            ></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Mã tài khoản</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-input
                            v-model="input.code"
                            placeholder="Nhập mã tài khoản"
                            class="form-control"
                            ></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Giới thiệu</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-textarea
                                v-model="input.desc"
                                placeholder="Giới thiệu loại tài khoản"
                                rows="3"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="form-group">
                        <b-col class="col-3">
                            <label class="col-form-label">Danh mục tài khoản</label>
                        </b-col>
                        <b-col class="col-9">
                            <b-form-select v-model="input.parent" :options="parents"></b-form-select>
                        </b-col>
                    </b-row>
                    <input type="submit" class="btn btn-success" value="Thêm loại tài liệu">
                </b-form>
            </b-col>
            <b-col>
                <ul class="treeview">
                    <li>
                        <router-link :to="{ name: 'TypeList'}">Danh mục cha 1</router-link>
                        <ul class="tree-child">
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 1</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 2</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 3</router-link></li>
                        </ul>
                    </li>
                    <li>
                        <router-link :to="{ name: 'TypeList'}">Danh mục cha 2</router-link>
                        <ul class="tree-child">
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 1</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 2</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 3</router-link></li>
                        </ul>
                    </li>
                    <li>
                        <router-link :to="{ name: 'TypeList'}">Danh mục cha 3</router-link>
                        <ul class="tree-child">
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 1</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 2</router-link></li>
                            <li><router-link :to="{ name: 'TypeList'}">Danh muc con 3</router-link></li>
                        </ul>
                    </li>
                </ul>
            </b-col>
        </b-row>
    </div>
</template>
<script>
//import { mapState } from 'vuex'
export default {
    name: "UserType",
    data () {
        return {
            input: {
                name: '',
                code: '',
                desc: '',
                parent: null
            },
            parents: [
                { value: null, text: 'Chọn danh mục cha' },
                { value: 1, text: 'Danh mục cha 1' },
                { value: 2, text: 'Danh mục cha 2' }
            ]
        }
    },
    methods : {
        async addType () {
            console.log(this.input.name)
            // if(this.email !="" && this.password !="") {
            //     await this.$store.dispatch('auth/postLogin',{email:this.email,password:this.password})
            //     // const user = this.$store.state.auth.user
            //     // console.log(user)
            //     router.push({name: 'Backend'})
            // }
        }
    }
    // data() {
    //     return {
    //     }
    // },
    // computed: {
    //     ...mapState({
    //         users: state => state.users.user,
    //     })
    // },
    // methods: {
    // },
    // async created () {
    //     await this.$store.dispatch('users/getAllUser')
    //     this.items = this.users
    //     this.totalRows = this.users.length
    // }
}

</script>
<style>
    ul.treeview {
        background: #ccc;
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>