<template>
  <div class="list_user">
    <h1 class="title"><i class="fas fa-list-ul"></i> Quản lý đề xuất</h1>
    <hr />
    <b-row>
      <b-col>
        <b-form role="form" v-on:submit.prevent="addRecomment()">
          <b-row class="form-group">
            <b-col class="col-3">
              <label class="col-form-label">ID</label>
            </b-col>
            <b-col class="col-9">
              <b-form-input
                v-model="input.user_id"
                placeholder="Nhập ID đề xuất"
                class="form-control"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="form-group">
            <b-col class="col-3">
              <label class="col-form-label">Tên đề xuất</label>
            </b-col>
            <b-col class="col-9">
              <b-form-input
                v-model="input.name"
                placeholder="Nhập tên đề xuất"
                class="form-control"
              ></b-form-input>
            </b-col>
          </b-row>
          <input type="submit" class="btn btn-success" value="Thêm đề xuất"/>
        </b-form>
      </b-col>
      <b-col>
        <b-row class="tt_filter">
          <b-col sm="6" class="my-1">
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="TÌm kiếm đề xuất"
              ></b-form-input>
            </b-input-group>
          </b-col>
          <b-col sm="6" class="my-1">
            <b-form-select
              v-model="perPage"
              id="perPageSelect"
              size="sm"
              :options="pageOptions"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-table
          id="my-table"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :filter="filter"
        >
          <template v-slot:cell(id)="row">
            {{ row.value }}
          </template>
          <template v-slot:cell(name)="row">
            {{ row.value }}
          </template>
          <template v-slot:cell(actions)="row">
            <b-button size="sm" @click="row.toggleDetails">
              {{ row.detailsShowing ? "Ẩn" : "Hiện" }} Đề xuất
            </b-button>
          </template>
          <template v-slot:row-details="row">
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </template>
        </b-table>
        <b-col sm="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-col>
    </b-row>
  </div>
</template>
<script>
// import { mapState } from "vuex";
export default {
  name: "UserRecomment",
  data() {
    return {
      input: {
        id: "",
        name: "",
        code: "",
        desc: "",
        file: null,
      },
      items: [],
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "name",
          label: "Tên đề xuất",
          sortable: true,
        },
        {
          key: "actions",
          label: "",
          sortable: false,
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [
        { value: 5, text: "Hiển thị 5 đề xuất / Trang" },
        { value: 10, text: "Hiển thị 10 đề xuất / Trang" },
        { value: 15, text: "Hiển thị 15 đề xuất / Trang" },
      ],
      filter: null,
      filterOn: [],
    };
  },
  methods: {
    async addRecomment() {
      if (this.input.user_id && this.input.name) {
        await this.$store.dispatch("recomment/addRecomment", {
          user_id: this.input.user_id,
          name: this.input.name,
        });
      }
    },
  },
//   watch: {
    // perPage: async function (newPerPage) {
    //   if (newPerPage) {
        // await this.$store.dispatch("recomment/getAllRecomment", {
        //   perPage: newPerPage,
        //   currentPage: this.currentPage,
        // });
    //   }
    // },
    // currentPage: async function (newCurrentPage) {
    //   if (newCurrentPage) {
        // await this.$store.dispatch("recomment/getAllRecomment", {
        //   perPage: this.perPage,
        //   currentPage: newCurrentPage,
        // });
    //   }
    // },
    // filter: async function (allitem) {
    //   if (allitem) {
        // console.log(allitem);
        // await this.$store.dispatch("recomment/getAllRecomment", {
        //   perPage: "",
        //   currentPage: "",
        // });
    //   } else {
        // await this.$store.dispatch("recomment/getAllRecomment", {
        //   perPage: this.perPage,
        //   currentPage: this.currentPage,
        // });
    //   }
    // },
    // "$store.state.recomment.recomments"(newVal) {
    //   if (newVal) {
        // this.items = newVal;
        // this.totalRows = this.$store.state.recomment.total;
    //   }
    // },
//   },
//   computed: {
    // ...mapState({
    //   recomments: (state) => state.recomments,
    // }),
//   },
//   async created() {
    // await this.$store.dispatch("recomment/getAllRecomment", {
    //   perPage: this.perPage,
    //   currentPage: this.currentPage,
    // });
//   },
};
</script>
<style>
ul.treeview {
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>