<line-chart :chartdata="chartData" :options="chartOptions"/>
<script>
import { Line } from "vue-chartjs";

export default {
    extends: Line,
    data: () => ({
        chartdata: {
            labels: [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July"
            ],
            datasets: [
                {
                    label: "Mượn",
                    borderColor: "#FC2525",
                    pointBackgroundColor: "#FC2525",
                    borderWidth: 1,
                    pointBorderColor: "#FC2525",
                    backgroundColor: "transparent",
                    data: [40, 39, 10, 40, 39, 80, 40]
                },
                {
                    label: "Trả",
                    borderColor: "#05CBE1",
                    pointBackgroundColor: "#05CBE1",
                    pointBorderColor: "#05CBE1",
                    borderWidth: 1,
                    backgroundColor: "transparent",
                    data: [60, 55, 32, 10, 2, 12, 53]
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    }),
    mounted () {
        this.renderChart(this.chartdata, this.options)
    }
};
</script>