<template>
<div>
    <h1 class="title"><i class="fas fa-laptop-house"></i> Hệ thống quản trị thư viện Online</h1>
    <hr>
    <div class="row mb-4 tt_d_info">
        <div class="col col-12 col-sm-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <b-row>
                        <b-col>Tài liệu / Book</b-col>
                        <b-col class="text-right"><router-link :to="{name: 'ListDocument'}" class="btn btn-outline-light">Chi tiết <i class="fas fa-angle-double-right"></i></router-link></b-col>
                    </b-row>
                </div>
                <div class="card-body">
                    <b-row>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Tổng</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Mượn</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Trả</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">
                    <b-row>
                        <b-col>Tài khoản</b-col>
                        <b-col class="text-right"><router-link :to="{name: 'ListDocument'}" class="btn btn-outline-light">Chi tiết <i class="fas fa-angle-double-right"></i></router-link></b-col>
                    </b-row>
                </div>
                <div class="card-body">
                    <b-row>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Tổng</p>
                                    <b-badge variant="light">999999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Trong</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Ngoài</p>
                                    <b-badge variant="light">562</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">
                    <b-row>
                        <b-col>Dịch vụ in</b-col>
                        <b-col class="text-right"><router-link :to="{name: 'ListDocument'}" class="btn btn-outline-light">Chi tiết <i class="fas fa-angle-double-right"></i></router-link></b-col>
                    </b-row>
                </div>
                <div class="card-body">
                    <b-row>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Tổng</p>
                                    <b-badge variant="light">689</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Chờ in</p>
                                    <b-badge variant="light">5</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Hoàn thành</p>
                                    <b-badge variant="light">684</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">
                    <b-row>
                        <b-col>Nhóm</b-col>
                        <b-col class="text-right"><router-link :to="{name: 'ListDocument'}" class="btn btn-outline-light">Chi tiết <i class="fas fa-angle-double-right"></i></router-link></b-col>
                    </b-row>
                </div>
                <div class="card-body">
                    <b-row>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Tổng</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Hoạt động</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                        <b-col class="text-center">
                            <div class="tt_circle">
                                <div class="item">
                                    <p>Xóa</p>
                                    <b-badge variant="light">99999</b-badge>
                                </div>
                                <div class="loading"></div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card border-light mb-4">
                <div class="card-header tt_card_header">
                  <i class="fas fa-chart-area mr-1"></i>Biểu đồ mượn & trả
                </div>
                <div class="card-body">
                  <ChartBorrow />
                </div>
          </div>
        </div>
        <div class="col-xl-6">
            <div class="card border-light mb-4">
                <div class="card-header tt_card_header">
                  <i class="fas fa-chart-area mr-1"></i>Biểu đồ doanh thu
                </div>
                <div class="card-body">
                  <ChartPayment />
                </div>
          </div>
        </div>
    </div>
    <div class="card border-light mb-4">
        <div class="card-header tt_card_header">
          <i class="fas fa-table mr-1"></i> Tài liệu mới
        </div>
        <div class="card-body">
            <TableNewDocument />
        </div>
    </div>
</div>
</template>

<script>
import ChartBorrow from '@/components/backend/vender/ChartBorrow.vue';
import ChartPayment from '@/components/backend/vender/ChartPayment.vue';
import TableNewDocument from '@/components/backend/vender/TableNewDocument.vue';
export default {
    name: "Dashboard",
    components: {
      ChartBorrow,
      ChartPayment,
      TableNewDocument
    },
}

</script>
<style>
    .tt_d_info .col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tt_circle {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        text-align: center;
        display: table;
        position: relative;
    }
    .tt_circle p {
        margin-bottom: 0;
        font-size: 0.7rem;
    }
    .tt_circle .item {
        display: table-cell;
        text-align: center;
        vertical-align: middle
    }
    .tt_circle .badge {
        color: #cccccc;
        background-color: transparent;
        border: 1px solid #ccc;
    }
    .tt_d_info .card-header .btn {
        padding: 0 5px;
        font-size: 0.8rem;
    }
    .tt_d_info .card-body {
        padding-left: 14px;
    }
    .tt_circle .loading {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 3px solid #ccc;
        border-top: 3px solid #ffffff;
        border-radius: 50%;
        -webkit-animation: rotate 1.5s linear infinite;
        animation: rotate 1.5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes rotate {
        100% {transform: rotate(360deg);}
    } 
    .tt_card_header {
        border-bottom: 0;
        color: var(--primary);
        text-transform: uppercase;
    }
    .tt_card_header svg {
        color: var(--secondary);
    }
</style>