<template>
  <div role="main " class="createGroup">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h3 class="text-danger my-2">Tạo nhóm hoạt động</h3>
          <div class="row">
            <div class="col-10">
              <div>
                <input type="text" class="form-control my-2" placeholder="Tên nhóm hoạt động" />
              </div>
              <div class="my-2">
                <b>Phân quyền truy cập</b>
                <div class="form-check">
                  <label class="form-check-label font-weight-bold" for="radio1">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="radio1"
                      name="optradio"
                      value="option1"
                      checked
                    />Nhóm mở
                  </label>
                  <p class="customTextOption">Nhóm cho phép bất kỳ ai cũng có thể tự do tham gia</p>
                </div>
                <div class="form-check">
                  <label class="form-check-label font-weight-bold" for="radio1">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="radio1"
                      name="optradio"
                      value="option1"
                      checked
                    />Nhóm không công khai
                  </label>
                  <p
                    class="customTextOption"
                  >Nhóm cho phép bất kỳ ai cũng có thể tham gia, nhưng phải được quản lý phê duyệt</p>
                </div>
                <div class="form-check">
                  <label class="form-check-label font-weight-bold" for="radio1">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="radio1"
                      name="optradio"
                      value="option1"
                      checked
                    />Nhóm kín
                  </label>
                  <p
                    class="customTextOption"
                  >Chỉ những thành viên trong nhóm được xem, tương tác và tham gia</p>
                </div>
              </div>
              <!-- tags -->
              <div>
                <label class="typo__label">Thành viên</label>
                <multiselect
                  v-model="value"
                  tag-placeholder="Thêm thành viên mới"
                  placeholder="Tìm hoặc thêm thành viên"
                  label="name"
                  track-by="code"
                  :options="options"
                  :multiple="true"
                  :taggable="true"
                  @tag="addTag"
                ></multiselect>
              </div>
              <div class="my-2">
                <button class="btn btn-success float-right my-2"><i class="far fa-plus-square mr-2 "></i>Upload file</button>
                <div style="width: 600px">
                  <vue-table-dynamic 
                    :params="params"
                    @select="onSelect"
                    @selection-change="onSelectionChange"
                    ref="table" 
                    class="table table-bordered"
                  ></vue-table-dynamic>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="text-center">
                <div>
                  <i class="fas fa-users" style="font-size:2rem"></i>
                </div>
                <p>trình duyệt ...</p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary">Tạo nhóm</button>
          </div>
        </div>
        <div class="col-4">
          <Sidebar />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/frontend/partials/Sidebar";
import Multiselect from "vue-multiselect";
import VueTableDynamic from "vue-table-dynamic";
export default {
  name: "GroupCreate",
  components: {
    Sidebar,
    Multiselect,
    VueTableDynamic
    // FilterSidebar
  },
  data() {
    return {
      value: [],
      options: [
        { name: "Hưng", code: "hung" },
        { name: "Quang", code: "quang" },
        { name: "Tú Anh", code: "tuAnh" },
        { name: "Tân", code: "tan" },
        { name: "Giang", code: "giang" },
        { name: "Bản", code: "ban" }
      ],
      params: {
        data: [
          ["Index ","File path ", "Company", "First Observed", "File Rating"],
          [1, "Example/path1", "CompanyE1", "01/01/2020", "Trusted"],
          [2, "Example/path2", "CompanyE2", "02/02/2020", "Trusted"],
          [3, "Example/path3", "CompanyE3", "03/03/2020", "Trusted"]
        ],
        header: "row",
        showCheck: true,
        sort: [4],
        columnWidth: [
          {column: 0, width: 55},
          {column: 1, width: 110},
          {column: 2, width: 90},
          {column: 3, width: 145},
          {column: 4, width: 140},          
         ],
      }
    };
  },
  methods: {
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.options.push(tag);
      this.value.push(tag);
    },
    onSelect(isChecked, index, data) {
      console.log("onSelect: ", isChecked, index, data);
      console.log("Checked Data:", this.$refs.table.getCheckedRowDatas(true));
    },
    onSelectionChange(checkedDatas, checkedIndexs, checkedNum) {
      console.log(
        "onSelectionChange: ",
        checkedDatas,
        checkedIndexs,
        checkedNum
      );
    },
    hello(){      
      document.querySelector("div.is-header div:nth-child(3) span span").innerHTML = "File path <i class='fas fa-search border border-secondary p-1'></i>"
      document.querySelector("div.is-header div:nth-child(5) span span").innerHTML = "First Observed <i class='far fa-calendar-alt border border-secondary p-1'></i>"
      document.querySelector("div.is-header div:nth-child(6) span span").innerHTML = "File Rating <i class='fas fa-question-circle border border-secondary p-1'></i>" 
      let test =  document.querySelector("div.vue-scroll-view div.v-table-row:nth-child(2)")
      // let test = document.getElementById("table-17282a2d26f");
      console.log(test);
    }
  },
  mounted() {
    this.hello()
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.createGroup {
  text-align: start;
}
.multiselect__tag-icon:after {
  color: #000000;
}
.multiselect__tag-icon:hover {
  background-color: #777777;
}
.multiselect__tag {
  color: black;
  background: #d8d8d8;
}
.customTextOption {
  font-size: 0.9rem;
  color: #808080;
}
.v-table-row.is-header{
  background-color: #c7c7c7;
}
.table-sort .sort-descending {
  border-top-color: #696969 ;
}
.table-sort .sort-ascending {
  border-top-color: #696969 ;
}
.v-table .v-table-row  span{
  text-align: center;
}
.table-check-all{
  margin-right: 0px !important;
}
</style>