<template>
  <div role="main">
    <div class="container">
      <div class="row">
        <div class="col-8 mt-4">
          <div class="row">
            <div class="col-8 group-name text-left">
              <h5>
                <i class="fas fa-users-cog mr-3"></i>
                <span class="text-danger text-uppercase">Thức khuya dậy sớm - Sống heo thỳ</span>
              </h5>
            </div>
            <div class="col-4 admin-group text-right">
              <span>
                <b>Admin:</b>Quang
              </span>
            </div>
          </div>
          <div class="row my-4">
            <h6 class="col text-left font-weight-bold">Thành viên</h6>
            <div class="col-12">
              <multiselect
                v-model="value"
                label="name"
                track-by="code"
                :options="options"
                :multiple="true"
                :taggable="true"
              ></multiselect>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="text-left font-weight-bold">Thảo luận trong nhóm</h6>
              <div class="messaging">
                <div class="inbox_msg">
                  <div class="mesgs">
                    <div class="msg_history">
                      <div class="incoming_msg">
                        <div class="incoming_msg_img">
                          <img src="@/assets/images/user.png" alt="sunil" />
                        </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>
                              Mai dậy sớm chạy 10 vòng quanh công viên nhé các baby????
                            </p>
                            <span class="time_date">11:01 PM</span>
                          </div>
                        </div>
                      </div>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>
                            5AM nhá các cháu
                          </p>
                          <span class="time_date">11:01 PM</span>
                        </div>
                      </div>
                      <div class="incoming_msg">
                        <div class="incoming_msg_img">
                          <img src="@/assets/images/avt1.png" alt="sunil" />
                        </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Ok, chốt kèo</p>
                            <span class="time_date">11:01 PM</span>
                          </div>
                        </div>
                      </div>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>Triển thôi</p>
                          <span class="time_date">11:01 PM</span>
                        </div>
                      </div>
                      <div class="incoming_msg">
                        <div class="incoming_msg_img">
                          <img src="@/assets/images/avatar2.png" alt="sunil" />
                        </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Nhớ chờ em nha các vị huynh đài</p>
                            <span class="time_date">11:01 PM</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="type_msg">
                      <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button">
                          <i class="fas fa-paper-plane"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <h6 class="col-12 text-left font-weight-bold">Lịch sử chia sẻ</h6>
              <div class="col-2">
                <div class="row pt-4 text-center">
                  <h1 class="col-6 pr-0 font-weight-bold">19</h1>
                  <div class="col-6 pl-0 text-left">
                    <p class="mb-0">Sep</p>
                    <p class="small">2019</p>
                  </div>
                </div>
              </div>
              <div class="col-10">
                <div class="item-file mb-1 text-left" v-for="(file, index) in listFile" :key="index">
                  <div class="row">
                  <div class="col-1">
                    <span>{{file.time}}</span>
                  </div>
                  <div class="col-6">
                   <span>File - {{file.fileName}}</span>
                  </div>
                  <div class="col-4">
                    <span>{{file.sendFrom}}</span>
                  </div>
                  <div class="col-1 text-center">
                    <button class="delete btn btn-default p-0"><i class="fas fa-times"></i></button>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-4">
          <Sidebar />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Sidebar from "@/components/frontend/partials/Sidebar";
import Multiselect from "vue-multiselect";
import listFile from "@/assets/data/listFile.json"

export default {
  name: "Group",
  components: {
    Sidebar,
    Multiselect
  },
  data() {
    return {
      value: [
        { name: "Lan", code: "vu" },
        { name: "Anh", code: "js" },
        { name: "Chi", code: "os" },
        { name: "Trang", code: "os1" },
        { name: "Quang", code: "os2" },
      ],
      options: [
        { name: "Lan", code: "vu" },
        { name: "Anh", code: "js" },
         { name: "Chi", code: "os" },
        { name: "Trang", code: "os1" },
        { name: "Quang", code: "os2" },
      ],
      listFile: listFile,
    };
  },
  methods(){
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
img {
  max-width: 100%;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  text-align: left;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.incoming_msg_img img{
  border-radius: 50%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  text-align: left;
}
.mesgs {
  float: left;
  padding: 20px 15px 0 25px;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
 
}
.outgoing_msg {
  overflow: hidden;
  margin: 10px 0;
   text-align: right;
}
.sent_msg {
  float: right;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.input_msg_write input:focus{
  outline: none;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  padding-bottom: 20px;
  overflow-y: auto;
}
.item-file{
  font-size: 14px;
}
.delete:focus{
  box-shadow: none;
}
input::placeholder{
  color: #8e8e8e !important;
}
</style>