<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
//import router from './router.js'
export default {
  name: "App",
  // data() {
  //   return {
  //       checkAuth: true,
  //       checkAdmin: false,
  //   };
  // },
  // watch: {
  //   $route() {
  //     const user = this.$store.state.auth.user
  //     if(user.length > 0) {
  //       if(user.role_id == 1) {
  //         router.push({name: 'Backend'})
  //       } else {
  //         router.push({name: 'Dashboard'})
  //       }
  //     }
  //   }
  // },
  // methods: {
  //   currentRoute() {
  //     this.$nextTick(() => {
  //         const ComponentName = this.$route.name
  //         if(ComponentName == 'DangNhap' || ComponentName == 'DangKy') {
  //           this.checkAuth =false;
  //         }
  //         if(ComponentName == 'Admin') {
  //           this.checkAdmin =true;
  //         }
  //         console.log(this.checkAuth)
  //     });
  //   }
  // },
};
</script>
<style>
  :root {
    --primary: #1877f2!important;
    --secondary: #ec3b1e!important;
  }

  body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  #app {
    font-family: "Roboto Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
  .card-body {
    padding: 15px!important;
  }
</style>