<template>
  <div class="pre_media">
    <div class="container">
        <PDFViewer
      v-bind="{url}"
      @document-errored="onDocumentErrored"
      >
      <!-- <PDFUploader
        v-if="enableUploader"
        :documentError="documentError"
        @updated="urlUpdated"
        slot="header"
        class="header-item"
        /> -->
    </PDFViewer>
    </div>
  </div>
</template>
       
<script>
// import PDFUploader from "@/components/frontend/vender/pdf_view/PDFUploader.vue";
import PDFViewer from "@/components/frontend/vender/pdf_view/PDFViewer.vue";

export default {
  name:'DetailBook',
  components:{
    // PDFUploader,
    PDFViewer
  },

  data() {
    return {
      url: './static/uploads/file1.pdf',
      documentError: undefined,
      enableUploader: true
    };
  },

  methods: {
    urlUpdated(url) {
      this.documentError = undefined;
      this.url = url;
    },
    onDocumentErrored(e) {
      this.documentError = e.text;
    }
  }
}

</script>

<style>
label.form {
  color: white;
  margin-bottom: 2em;
  display: block;
}
input {
  padding: 0.45em;
  font-size: 1em;
}
.error {
  border: 1px solid red;
  background: pink;
  color: red;
  padding: 0.5em 3em;
  display: inline;
}

a.icon {
  cursor: pointer;
  display: block;
  border: 1px #333 solid;
  background: white;
  color: #333;
  font-weight: bold;
  padding: 8px;
  font-size: 1.5em;
}
a.icon img {
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
}

.box-shadow {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
.overflow-hidden {
  overflow: hidden;
}
.pdf-preview {
  background: #fff;
}
</style>