<template>
    <div role="main">
        <div class="container book_item">
            <div class="row">
                <div class="col-4">
                  <div class="book_item_img">
                      <img :src="book.img">
                  </div>
                </div>
                <div class="col-8">
                    <div class="book_item_detail">
                        <h1 class="title">{{book.name}}</h1>
                        <div class="d-flex flex-row rate_view">
                            <div class="rate d-flex">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="view">
                                <strong>{{book.view}}</strong> lượt xem
                            </div>
                        </div>
                        <div class="intro">
                            <div class="author"><strong>Tác giả</strong>: {{book.author}}</div>
                            <div class="cat"><strong>Thể loại</strong>: {{book.cat}}</div>
                            <div class="page"><strong>Số trang</strong>: {{book.page}}</div>
                            <div class="type"><strong>Loại</strong>: {{book.type}}</div>
                            <div class="year"><strong>Phát hành</strong>: {{book.year}}</div>
                            <div class="desc"><strong>Mô tả</strong>: {{book.decription}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="action">                        
                <li class="btn btn-warning" v-if="book.type === 'video'">
                    <router-link :to="{ name: 'DocumentVideo',params: { id: book.id }}"><i class="fas fa-play"></i> Xem</router-link>
                </li>
                <li class="btn btn-warning" v-else>
                    <router-link :to="{ name: 'DocumentBook',params: { id: book.id }}"><i class="fas fa-eye"></i> Đọc</router-link>
                </li>
                <li class="btn btn-primary"><i class="fas fa-share-alt"></i> Chia sẻ</li>
                <li class="btn btn-secondary"><i class="far fa-heart"></i> Yêu thích</li>
                <li class="btn btn-success"><i class="fas fa-download"></i> Tải về</li>
            </ul>
            <Comment v-bind:lists="lists_comment"/>
        </div>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import lists_carousel from "@/assets/data/book.json";
  import Comment from '@/components/frontend/partials/Comment';
  export default {
    name: 'EbookDetail',
    components:{
        Comment
    },
    computed: {
        book() {
            return lists_carousel.find(item => item.id == this.detailId);
        },
        ...mapState({
            users: state => state.users.user,
        })
    },

    data() {
        return {
            detailId: this.$route.params.id,
            isActive1: true,
            isActive2: true,
            isActive3: true,
            lists_comment:lists_carousel
        }
    },
   
    methods: {

    },
    async created () {
        // await this.$store.dispatch('users/getAllUser')
        // this.items = this.users
        // this.totalRows = this.users.length
    }

  }
</script>

<style>
.book_item .svg-inline--fa {
    display: inline-block !important;
}
.book_item {
    padding-top: 15px;
    text-align: left;
}
.book_item_img img {
    width: 100%;
    height: auto;
}
.book_item_detail {
    text-align: left;
}
.rate {
    margin-right: 30px;
}
.rate .checked {
  color: orange;
}
.book_item .view strong {
    color: red;
}
.book_item_detail .intro strong {
    width: 90px;
    display: inline-block;
}
.book_item .action {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
}
.book_item .action li {
    width: 150px;
    margin-right: 15px;
    padding: 3px 10px;
}
.book_item .action li a {
    color: #fff;
}

</style>