<template>
  <div class="pre_media">
    <div class="container">
    <div class=" row pt-2">
      <div class="col-12" v-if="preview">
        <iframe class="embed-responsive-item" width="100%" height="500px"
             :src="preview" 
             allowfullscreen="" 
             data-gtm-yt-inspected-2340190_699="true" 
             data-gtm-yt-inspected-2340190_908="true">
        </iframe>
        <h3 class="text-left mb-0">{{title}}</h3>
        <p class="card-text ms_card_text text-left"> {{caption}} <br><i class="far fa-calendar-alt"></i> {{timecraete}} </p>
      </div>
    </div>
    <div class="text-left mt-4">
        <h2 class="title_card">TÀI LIỆU VIDEO TƯƠNG TỰ </h2>
    </div>
    <div class="row mb-3 pl-3 pr-0">
      <div class="col-md-4 mb-3 pl-0" v-for="page in pages" v-bind:key="page.id">
        <div class="card" >
            <!-- <a @click="selectImage(page)"> -->
               <router-link :to="{ name: 'EbookDetail',params: { id: page.id }}">
                <div class="card-body d-flex p-0 ">
                    <img :src="page.img" alt="" class="img-responsive">
                    <div class="content_card p-2">
                        <h5 class="card-title ms_card_title">{{page.name}}</h5>
                        <p class="card-text ms_card_text text-left">
                           <span> {{page.decription}}</span> <i class="far fa-calendar-alt"></i> {{page.created}}
                        </p>
                    </div>
                </div>
                 </router-link>
            <!-- </a> -->
        </div>
      </div> <!-- col -->

    </div>

  </div>

  </div>
</template>
       
<script>
import lists_carousel from "@/assets/data/book.json";
export default {
    name:'preview_media',
    components:{
    },
    data() {
        return {
            preview: null,
            title:null,
            caption:null,
            timecraete:null,
            VideoId: this.$route.params.id,
            pages:[],
        }
  },
  computed: {
        book() {
            return lists_carousel.find(item => item.id == this.VideoId);
        },
        filterClient () {
          return lists_carousel.filter( client => {
            if(client.type == 'video' && client.id != this.VideoId ){
                return client;
            }
          })
        }
    },
  mounted() {
    this.preview =this.book.file;
    this.title = this.book.name;
    this.caption =  this.book.decription;
    this.timecraete = this.book.created;
    this.pages = this.filterClient;
  },

}

</script>

<style>

.pre_media .title_card{
    color: red;
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
  
}
.pre_media .ms_card_title{
    font-weight: 600;
    font-size: 90%;
    text-align: left;
    margin-bottom: 4px;
    white-space: pre-line;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height:36%;

}
.pre_media .ms_card_text{
    font-size: 80%;
}
.pre_media .ms_card_text span{
    white-space: pre-line;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 40px;
}
.pre_media .content_card{
    width: 80%;
}

.pre_media .img-responsive{
    width: 108px;
}
.pre_media a {
  color: rgb(14, 13, 13);
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.pre_media a:hover {
  color: rgb(14, 13, 13);
   text-decoration: none;
}

</style>