<template>
  <div class="limiter">
    <div class="container-signup">
      <div class="wrap-signup">
        <form class="signup-form">
          <img class="img-logo" src="@/assets/images/logo.png" alt="Logo" />
          <h1 class="p-b-33">Đăng ký</h1>
          <div class="signin-box">
            <div class="line-across">
              <span class="span-cover">Đăng nhập với tài khoản mạng xã hội</span>
            </div>
            <div class="row">
              <div class="col">
                <a href="#" class="fb btn w-60">
                  <i class="fab fa-facebook-square"></i> Facebook
                </a>
              </div>
              <div class="col">
                <a href="#" class="google btn w-60">
                  <i class="fab fa-google"></i> Google+
                </a>
              </div>
            </div>
          </div>
          <div class="signup-box form-signup">
            <div class="line-across">
              <span class="span-cover">Hoặc đăng ký sử dụng email của bạn</span>
            </div>
            <div class="row">
              <div class="col-3 text-label">
                <label for="email">
                  <b>Email</b>
                </label>
              </div>
              <div class="col-8">
                <input
                  type="email"
                  required
                  name="email"
                  placeholder="Nhập email"
                  v-model="userName"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-label">
                <label for="username">
                  <b>Tên đăng nhập</b>
                </label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  required
                  name="username"
                  placeholder="Nhập tên đăng nhập"
                  v-model="userName"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-label">
                <label for="pass">
                  <b>Mật khẩu</b>
                </label>
              </div>
              <div class="col-8">
                <input
                  type="password"
                  required
                  name="pass"
                  placeholder="Nhập mật khẩu"
                  v-model="passWord"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-3 text-label">
                <label for="psw-repeat">
                  <b>Nhập lại mật khẩu</b>
                </label>
              </div>
              <div class="col-8">
                <input
                  type="password"
                  required
                  name="psw-repeat"
                  placeholder="Nhập lại mật khẩu"
                  v-model="passWord"
                />
              </div>
            </div>
          </div>
          <div class="check-agree">
            <input type="checkbox" checked="checked" name="remember" /> Tôi đồng ý với 
              <a href="#" style="color:dodgerblue">Điều khoản và Điều kiện</a> của thư viện.
          </div>
          <a type="submit" href="/login" class="btn btn-success signupbtn">Đăng ký</a>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DangNhap",
  data() {
    return {};
  }
};
</script>

<style>
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-signup {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e9faff;
}

.wrap-signup {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.signup-form {
  width: 100%;
}

.p-b-33 {
  padding-bottom: 33px;
}

.signin-box {
  padding-top: 10px;
  padding-bottom: 45px;
}

.line-across {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #adadad;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.span-cover {
  background: #fff;
  padding: 0 10px;
}

input[type="email"], input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:focus {
    outline: 1px solid #464646;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.w-60 {
  width: 60% !important;
}

.btn:hover {
  opacity: 1;
}

.fb {
  background-color: #3b5998 !important;
  color: white !important;
}

.google {
  background-color: #dd4b39 !important;
  color: white !important;
}

.form-signup {
  text-align: left;
}

.text-label {
  text-align: right;
  padding-top: 22px;
}

.check-agree {
  text-align: left;
  padding: 20px;
}

::placeholder {
    color: #8e8e8e;
}
.img-logo {
  margin-bottom: 8px;
}
</style>