<template>
<div class="tt_login" :style="
    [{ backgroundImage: 'url(' + require('@/assets/images/bg.jpg') + ')' 
   },{backgroundSize:'100% 100%'},{backgroundPosition:'center bottom'}]">
   <div class="tt_login_ov">
    <div class="tt_login_form">
      <b-row class="my-1 tt_login_logo">
        <!-- <b-img src="@/assets/images/logo.png" fluid alt="Logo"></b-img> -->
        <img :src="require('@/assets/images/logo.png')" />
      </b-row>
      <b-row class="my-1 mt-3">
        <div class="vl">
            <span class="vl-innertext">or</span>
          </div>
        <b-col>
          <a href="#" class="fb btn mb-3">
            <i class="fa fa-facebook fa-fw "></i> Login with Facebook
          </a>
          <a href="#" class="twitter btn mb-3">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>
          <a href="#" class="google btn"><i class="fa fa-google fa-fw">
            </i> Login with Google+
          </a>
        </b-col>
        <b-col>
            <!-- <div>
              <p>Or sign in manually:</p>
            </div> -->
            <b-form role="form" v-on:submit.prevent="doLogin()">
              <b-form-input id="username" type="text" name="username" v-model="username" placeholder="Tên đăng nhập" autofocus></b-form-input>
              <b-form-input id="password" type="password" name="password" v-model="password" placeholder="Mật khẩu"></b-form-input>
              <b-form-checkbox
                id="checkbox"
                v-model="remember_me"
                name="checkbox"
                value="1"
                unchecked-value="not_accepted"
                class="text-left my-2"
              >
                Ghi nhớ tài khoản
              </b-form-checkbox>
              <input type="submit" value="Login">
            </b-form>
        </b-col>
      </b-row>
    </div>
   </div>
</div>
</template>

<script>
import router from '../../router.js'
export default {
  name: "DangNhap",
  data () {
      return {
          username: '',
          password: '',
          remember_me: 0
      }
  },
  methods : {
    async doLogin () {
      if(this.username !="" && this.password !="") {
        await this.$store.dispatch('auth/postLogin',{username:this.username, password:this.password, remember_me:this.remember_me})
        const user = this.$store.state.auth.user
        if(user.role_id == 1) {
          router.push({name: 'Backend'})
        } else {
          router.push({name: 'Dashboard'})
        }
      }
    }
  }
};
</script>
<style>
.tt_login_form {
  margin: auto;
  width: 50%;
  padding: 20px 10px;
  background: rgba(0,0,0,0.9);
  background: rgba(255,255,256,0.8);
  border-radius: 10px;
}

.tt_login {
  height: 100vh;
}
.tt_login_ov {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display:flex;
  align-items:center;
}
.tt_login_logo img {
  margin: auto;
}
/* style inputs and link buttons */
.tt_login_ov input,
.tt_login_ov .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.tt_login_ov input:hover,
.tt_login_ov .btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.tt_login_ov .fb {
  background-color: #3B5998;
  color: white;
}

.tt_login_ov .twitter {
  background-color: #55ACEE;
  color: white;
}

.tt_login_ov .google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
.tt_login_ov input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.tt_login_ov input[type=submit]:hover {
  background-color: #45a049;
}
.tt_login_form input[type="checkbox"] {
   display: none !important;
}
/* Two-column layout */
.tt_login_ov .col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.tt_login_ov .row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.tt_login_ov .vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.tt_login_ov .vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  /* hide the vertical line */
  .tt_login_ov .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
</style>