<template>
    <div></div>
</template>
<script>
import router from '../../router.js'
export default {
    name: "Logout",
    async created () {
        await this.$store.dispatch('auth/logout')
        router.push({name: 'DangNhap'})
    }
};
</script>